[2014-03-12 16:19] Tratcher opened #1 "Test with http://autobahn.ws/"
there's a comprehensive functional test suite at http://autobahn.ws/ we should try running. 300+ tests that probe all the boundary conditions they can, framing, message types, character set, etc.

[2014-03-17 16:40] Tratcher opened #4 "Fix flaky test: SendLongData"
DFowler: One of the tests fails randomly for me:

Microsoft.Net.WebSockets.Test.WebSocketClientTests.SendLongData_Success [FAIL]
   Assert.True() Failure
   Stack Trace:
Seems like a race condition since adding a random sleep makes it work more consistently.

[2014-06-26 19:04] Tratcher opened #8 "Drain data on close"
Clients should wait for the server to close the connection. Read from the socket until zero is returned.

[2014-06-26 19:05] Tratcher opened #9 "Finish client handshake verification"
The client performs the handshake, but does not currently verify all of the headers sent back from the server.

[2014-06-28 04:58] lodejard opened #10 "rename Microsoft.AspNet.WebSockets.Middleware -> Microsoft.AspNet.WebSockets.Server"

[2014-06-30 02:30] davidfowl opened #11 "WebSockets middleware should not replace server implementation"
The websockets middleware should only replace the IHttpWebSocketFeature if there isn't one.

[2014-07-03 21:17] #10 closed, assigned to Tratcher

[2014-07-03 21:17] #11 closed, assigned to Tratcher

[2014-10-22 18:32] Tratcher opened #13 "Implement utf-8 validation"
The WebSocket protocol requires that utf-8 messages be strictly validated on both ends. The managed native implementation does this, but the managed one does not. This accounts for the bulk of the failures in the autobahn tests.

Note that this deep validation may be expensive enough to consider making it optional.

[2014-10-22 18:35] Tratcher opened #14 "Validate reserved bits"
The WebSocket protocol defines several reserved bits in the various frames and says that the connection should be failed if any of those bits are ever set. See section 3 of the autobahn tests.

[2014-10-22 18:36] Tratcher opened #15 "Validate ping payload limits"
Autobahn test case 2.5 - Send ping with binary payload of 126 octets. Connection should be failed immediately (1002/Protocol Error), since control frames are only allowed to have payload up to and including 125 octets.

[2014-10-22 18:37] Tratcher opened #16 "Validate that ping frames are not fragmented"
Autobahn test 5.1 - Send Ping fragmented into 2 fragments. Connection should be failed immediately, since control message MUST NOT be fragmented.

[2014-10-22 18:40] Tratcher opened #17 "Validate close frames"
Autobahn tests
7.3.2 - Send a close frame with payload length 1 - Clean close with protocol error or drop TCP.
7.3.6 - Send a close frame with close code and close reason which is too long (124) - total frame payload 126 octets - Clean close with protocol error code or dropped TCP connection.

[2014-10-22 18:42] Tratcher opened #18 "Validate close status codes"
Autobahn tests section 7.9 - Send invalid close status codes. Clean close with protocol error code or drop TCP.

[2014-10-22 18:43] Tratcher opened #19 "Implement WebSocket compression"
https://tools.ietf.org/html/rfc7692

Autobahn test section 12

[2014-10-23 16:55] Tratcher opened #20 "Validate opcodes"
http://tools.ietf.org/html/rfc6455#section-5
Autobahn section 4
`If an unknown opcode is received, the receiving endpoint MUST _Fail the WebSocket Connection_.  The following values are defined.`

[2014-10-27 16:41] #13 closed, assigned to Tratcher

[2014-10-27 16:41] #20 closed, assigned to Tratcher

[2014-10-27 16:41] #18 closed, assigned to Tratcher

[2014-10-27 16:41] #17 closed, assigned to Tratcher

[2014-10-27 16:41] #16 closed, assigned to Tratcher

[2014-10-27 16:41] #15 closed, assigned to Tratcher

[2014-10-27 16:41] #1 closed, assigned to Tratcher

[2014-10-27 16:41] #14 closed, assigned to Tratcher

[2014-12-11 16:51] victorhurdugaci opened #22 "Make the client tests use Kestrel as the server"
@Tratcher suggested that using Kestrel as the server will make the client tests run on Win2008/Win7.

Today, they fail on the CI agents: http://projectk-tc/viewLog.html?buildId=57712&tab=buildResultsDiv&buildTypeId=XPlat_WindowsServer2008r2

[2014-12-23 15:48] #22 closed, assigned to Tratcher

[2015-02-19 20:06] Eilon opened #26 "Switch from System.Random to a crypto RNG provider"
Talk to @GrabYourPitchforks about this and this is a must-fix.

In this code:
https://github.com/aspnet/WebSockets/blob/dev/src/Microsoft.AspNet.WebSockets.Protocol/CommonWebSocket.cs#L92-L112

We need to stop using System.Random and switch to using a proper crypto RNG provider.

[2015-02-19 20:08] Eilon commented on #26
@muratg can you find someone to work on this?

[2015-02-19 20:24] Tratcher commented on #26
ZeroMask is a debug setting so that you can read the data in Netmon. It just makes the masking step a no-op so it should work with any server.

[2015-02-19 21:04] Eilon opened #27 "Remove ZeroMask support"
ZeroMask support is apparently only a dev-time optimization and isn't per-spec, and isn't really needed.

@Tratcher

[2015-02-19 21:05] Eilon commented on #26
@Tratcher I moved the ZeroMask discussion to https://github.com/aspnet/WebSockets/issues/27 so we could treat it separately.

[2015-02-19 22:30] Tratcher commented on #27
ZeroMask is a debug setting so that you can read your data in Netmon. 0 is a legal mask per spec, just not recommended (see http://xkcd.com/221/). It makes the masking step a no-op, but servers shouldn't even notice.

[2015-02-19 23:29] Eilon commented on #27
I think once you invoke an XKCD comic it becomes truth.

[2015-02-27 02:29] crowwhite opened #29 "wan hussin abdul rahman"
crowwhitejlf@gmail.com

[2015-02-27 03:03] #29 closed

[2015-06-22 16:52] mkosieradzki opened #42 "SendAsync, ReceiveAsync semantics inconsistency between different implementations"
There are some incosistencies in implementations of web sockets: (Helios, Reference:AspNetWebSocket, .NET Core:CommonWebSocket)

ReceiveAsync is not that bad:
1. HeliosWebSocket throws exceptions in case of two simultaneous ReceiveAsync are in place - this is consistent with reference documentation: http://referencesource.microsoft.com/#System.Web/WebSockets/AspNetWebSocket.cs ThrowIfReceiveUnavai

[2015-06-23 07:18] davidfowl commented on #42
/cc @Tratcher @GrabYourPitchforks

[2015-06-23 23:02] anurse commented on #26
Is this still relevant @Tratcher @muratg @Eilon ? If so, we should move it to beta6

[2015-06-23 23:09] Tratcher commented on #26
Yes, moved to beta6.

[2015-06-24 00:54] anurse commented on #26
:+1:

[2015-06-24 17:51] Tratcher commented on #42
The synchronization you see in CommonWebSocket is used to prevent Ping/Pongs from colliding with user Sends. See:
https://github.com/aspnet/WebSockets/blob/dev/src/Microsoft.AspNet.WebSockets.Protocol/CommonWebSocket.cs#L377
https://github.com/aspnet/WebSockets/blob/dev/src/Microsoft.AspNet.WebSockets.Protocol/CommonWebSocket.cs#L164
https://github.com/aspnet/WebSockets/blob/dev/src/Microsoft.AspN

[2015-06-24 17:58] davidfowl commented on #42
We can consider using a Task queue.

[2015-06-24 18:04] Tratcher commented on #42
We already use SemaphoreSlim.WaitAsync, so it's async blocking.

[2015-06-24 19:12] mkosieradzki commented on #42
IMO it's very important in xplat/pluggable libraries like WebSockets implementation to maintain exactly the same semantics (including error handling) among different implementations/platform. One could depend on implementation specifics for example task queuing on async semaphore instead of providing upper level buffering/queuing and for example application will work correctly when .NET Core self-

[2015-06-24 19:38] Tratcher commented on #42
Interestingly the MSDN docs do not specify a required semantic: https://msdn.microsoft.com/en-us/library/system.net.websockets.websocket.sendasync(v=vs.110).aspx

I understand the portability concern. Since the overlapped sends are not fully supported we should actively discourage developers at runtime from doing it (e.g. throw).

That said, if we decided to support overlapped sends in a specific

[2015-06-24 20:58] mkosieradzki commented on #42
Yeah exactly. Unclear semantics on such core APIs are one of the root causes of inefficient networking implementations or portability issues. That's exactly why I started from browsing source code of different implementations due to lack of official documentation on this problem.

In case you decide to add support for Overlapped Sends/Receives please consider adding: `bool SupportsOverlapped { get

[2015-06-29 17:42] anurse commented on #26
FYI, `RNGCryptoServiceProvider` is not yet available on CoreCLR, so we'll have to continue using `System.Random` there. Mono does have a `RNGCryptoServiceProvider` implementation that uses `/dev/random` or `/dev/urandom` on *nix. We'd need to sync up with CoreCLR on the plan for implementing this there.

Is this OK @Eilon @Tratcher @muratg @blowdart ?

[2015-06-29 17:43] Eilon commented on #26
I'm fine waiting.

[2015-06-29 17:44] blowdart commented on #26
If you're already branching based on OS to use the Mono one, then why not pinvoke if you're on Windows whilst we wait.

[2015-06-29 17:44] Eilon commented on #26
Gross :frowning:

[2015-06-29 17:44] anurse commented on #26
Because I will likely introduce more bugginess and spend valuable time?

[2015-06-29 17:45] Eilon commented on #26
Per what @anurse said, this would ironically make the behavior of the code even more random :trollface:

[2015-06-29 17:47] blowdart commented on #26
A single if statement is more bugginess? I have way more faith in you than that Andrew :D

As gross as it is the RFC specifies PRNGs for a reason and we should make an effort here until CoreCLR catches up.

CryptGenRandom is what you want - https://msdn.microsoft.com/en-us/library/windows/desktop/aa379942%28v=vs.85%29.aspx?f=255&MSPPError=-2147217396

[2015-06-29 17:51] anurse commented on #26
Don't forget CryptAcquireContext and figuring out which container/provider I'm supposed to use :)

[2015-06-29 17:52] blowdart commented on #26
Well yes, but just lift it from 4.6 framework code :p

[2015-06-29 17:53] anurse commented on #26
@Eilon I think I'm going to need to get you to sign-off on doing that :)

[2015-06-29 17:53] anurse commented on #26
I can do it though, it'll just take a bit for me to work out what to pull where and when. What are we going to do on CoreCLR Linux/Mac? Read from /dev/random ourselves?

[2015-06-29 17:54] blowdart commented on #26
In Mono use their class, in Linux/Mac ... ummm, abort with notSupported? :D

[2015-06-29 17:55] anurse commented on #26
WebSockets are not supported on CoreCLR Linux/Mac?

[2015-06-29 17:55] blowdart commented on #26
If you can't support the RFC's intent should you support it at all?

[2015-06-29 17:58] anurse commented on #26
The framework RNG has a bunch of tendrils through the rest of System.Security.Crypto to support custom CSP Parameters and such. Would it be safe to assume we don't need to support that and can just use the default CSP (i.e. parameterless ctor for RNGCryptoServiceProvider)?

[2015-06-29 18:00] blowdart commented on #26
I think it'd do for now, until we can switch to their version.

[2015-06-29 19:11] anurse commented on #26
At the moment it's very difficult for the WebSockets code to detect what kind of CoreCLR it is running on. @davidfowl and I talked and we think the most achievable result for beta6 is to #ifdef and use System.Random on CoreCLR. If that's not acceptable for now, we need to punt this bug to beta7 and work with the CoreCLR team to get either RNGCryptoServiceProvider or Platform-detection logic in ASA

[2015-06-29 19:12] blowdart commented on #26
Or not support on core? Has anyone talked to coreclr about their timescales?

[2015-06-29 19:28] PinpointTownes commented on #26
Heh, I thought that `RNGCryptoServiceProvider` support had been recently added to CoreCLR?
https://github.com/dotnet/corefx/commit/f394692c7de8cb9e3e9c1b6d3a72ba1196e0d28b
https://github.com/dotnet/corefx/pull/1944

[2015-06-29 19:30] anurse commented on #26
Awesome, we just have to track down if we've got it in DNX now :)

[2015-06-29 19:31] PinpointTownes commented on #26
I'm pretty sure there's a package for that: `System.Security.Cryptography.RandomNumberGenerator` :smile:

[2015-06-29 19:33] anurse commented on #26
Indeed :)

[2015-06-29 19:34] anurse commented on #26
If only our Package Search tool had been updated *cough* @glennc *cough* :P

[2015-06-29 22:24] Eilon opened #44 "Fix exception parameter name in CommonWebSocket.ValidateSegment"
See discussion here:
https://github.com/aspnet/WebSockets/commit/208fa4af366e23b51f2b943f709e00b6d48eec22#diff-2f20d3473af8bc60eee727dd88bbb804R595

The change to use `nameof()` makes the parameter name in the exception be incorrect.

[2015-06-29 23:27] hishamco commented on #44
I will get a fix for this ASAP ..
FYI I need to look in almost the repos, because this may happen in another repo

[2015-06-30 16:54] #26 closed

[2015-07-01 19:57] tmds opened #46 "IsWebSocketRequest is always false"
When I make a WebSocket connection the http pipeline is started but context.WebSockets.IsWebSocketRequest is false.

Stepping through the code shows me [upgradeFeature](https://github.com/aspnet/WebSockets/blob/c86b157ad3cd00e8848c4895fe29de2f9d81a0b4/src/Microsoft.AspNet.WebSockets.Server/WebSocketMiddleware.cs#L32) is null.

How can I get this to work?

[2015-07-01 19:58] Tratcher commented on #46
Which server are you running on?

[2015-07-01 20:02] tmds commented on #46
I tried running in IIS Express and using the 'web' command. They behave the same.
My iisexpress is v10, 32 bit.

[2015-07-01 20:49] Tratcher commented on #46
What client are you using?  Maybe it's incompatible. Try this one for reference: https://github.com/aspnet/WebSockets/blob/dev/test/TestClient/Program.cs

[2015-07-02 07:20] tmds commented on #46
I was using Chrome. The TestClient has the same behavior: upgradeFeature is null.

[2015-07-02 07:36] davidfowl commented on #46
upgrade feature is supposed to be null but the websocket feature shouldn't be.

[2015-07-02 08:23] tmds commented on #46
Should it be null at [this](https://github.com/aspnet/WebSockets/blob/c86b157ad3cd00e8848c4895fe29de2f9d81a0b4/src/Microsoft.AspNet.WebSockets.Server/WebSocketMiddleware.cs#L32) location?

Also IsWebSocketRequest remains false when using the TextClient.

[2015-07-02 13:40] Tratcher commented on #46
IIS does not support the Upgrade feature, it supports WebSockets natively (e.g. you don't need to use the websocket middleware). WebListener supports both Upgrade and WebSockets natively, so using the middleware is optional.  Kestrel only supports Upgrade and requires the middleware for WebSockets.

[2015-07-02 17:27] tmds commented on #46
So the upgrade feature isn't the root cause of the IsWebSocketRequest being false. What else could be causing it?

[2015-07-02 20:44] tmds commented on #46
Which of the servers support WebSockets on Windows 7?

[2015-07-06 17:41] muratg commented on #46
AFAIK you're out of luck with IIS or WebListener on Windows 7/Server 2008/R2. I believe WebSockets support to http.sys was only added in Windows 8 (and Server 2012+)   Kestrel could potentially work.

[2015-07-06 17:54] muratg commented on #44
I think the PR doesn't really fix it. IMO we'll just have to use magic strings in this case.

[2015-07-06 19:33] tmds commented on #46
I tried Kestrel, but it isn't working even for non-websocket http. I can step through the Startup.Configure but my app.Run http pipeline isn't called. So another issue seems to occur there.

Is there an API I can use to query the server features so I can figure out whether the web server supports websockets natively, or if it will after using the WebSocket middleware or it if won't at all?

[2015-07-06 19:45] davidfowl commented on #46
@tmds You should always use the websocket middleware it will light up websockets if the server doesn't support it and it already queries the server for the feature.

[2015-07-07 07:12] tmds commented on #46
When you use the middleware, is there are a way to figure out the server still won't support websockets?

[2015-07-07 08:06] davidfowl commented on #46
You can check for the feature yourself. `context.GetFeature<IHttpWebSocketFeature>()`

[2015-07-07 08:21] tmds commented on #46
Is it possible without having a request, e.g. in the Startup class?
This would make it possible to inform the client websockets are not supported.
SockJS for example has a json info resource which returns whether the server supports websockets.

[2015-07-07 12:01] Flavien opened #47 "Shouldn't this package also provide an implementation of IHttpUpgradeFeature?"
It seems the UseWebSockets extension does nothing unless a IHttpUpgradeFeature is available.

Wouldn't it make sense to provide an implementation and an easy way to add the feature for hosts where it's not available?

[2015-07-07 15:53] Tratcher commented on #47
Upgrade isn't a capability that can be added by middleware, it must be naivety supported by servers. Most servers do not give you the direct access to the underlying connection that you need for WebSockets.

[2015-07-07 16:00] Tratcher commented on #46
That's not available yet. We used to have this kind of startup detection in Katana, but haven't developed a replacement.

[2015-07-07 16:53] Flavien commented on #47
I see, that makes sense. On what platforms/hosts is that supported?

[2015-07-07 17:39] muratg commented on #44
I put another suggestion in the PR.

[2015-07-08 03:32] Tratcher commented on #47
Upgrade is supported by WebListener on Win8+, or by Kestrel on any OS.

Note that IIS and WebListener have native WebSocket support, so the middleware won't do anything on those by default.

[2015-07-08 07:30] tmds commented on #46
I'm closing this issue as the root cause is websockets are not supported on Windows 7 with IIS/WebListener.
There is no way to detect in the ASP.NET application whether the OS+webserver+WebSockets middleware will support websockets or not. It would be nice if there was.

[2015-07-08 07:30] #46 closed

[2015-07-14 06:49] tmds commented on #42
Whether or not multiple sends are supported has an effect on the user-code, so the behavior should be specified in the documentation and should not vary across implementations.

In my opinion, every implementation should support multiple SendAsyncs.

[2015-07-14 17:39] muratg commented on #4
Reopen if still an issue :)

[2015-07-14 17:39] #4 closed

[2015-07-23 18:33] muratg commented on #19
@Tratcher let's discuss this (and other WebSockets work) when you're back.

[2015-08-11 17:42] #47 closed

[2015-08-11 18:39] PinpointTownes opened #49 "React to System.Security.Cryptography.* changes in CoreFX"
https://github.com/dotnet/corefx/commit/ce0506baea623efdb74707aee0e4aa169d6f468c

![image](https://cloud.githubusercontent.com/assets/6998306/9151283/543630a0-3dfd-11e5-9d66-d5b3e0d73dbd.png)

https://github.com/aspnet/WebSockets/blob/dev/src/Microsoft.AspNet.WebSockets.Protocol/project.json#L22-L25

/cc @Tratcher

[2015-08-11 21:43] #49 closed

[2015-08-13 21:01] tmds opened #50 "Move Microsoft.AspNet.WebSockets.Protocol.Constants.Headers to Microsoft.Net.Http.Headers"
There is a nice organization of headers including values and parsers in [Microsoft.Net.Http.Headers](https://github.com/aspnet/HttpAbstractions/tree/dev/src/Microsoft.Net.Http.Headers). Perhaps the [Constants.Headers](https://github.com/aspnet/WebSockets/blob/552b336a78c4835e7f84a94b1e5a07df4bc09b39/src/Microsoft.AspNet.WebSockets.Protocol/Constants.cs#L8) can move there as well?

[2015-08-16 01:37] hishamco commented on #44
I already update the PR according your suggestion @muratg

[2015-09-09 21:09] tmds commented on #42
Whether SendAsync and ReceiveAsync can be used simultaneously needs to be clarified as well.

Some 'typical' websocket use-cases which benefit from concurrent operation support:
- sending the same data to a number of client WebSockets (you don't want to await the Send for each client)
- sending event notifications from multiple independent sources to a client WebSocket
- accepting commands on a We

[2015-11-04 17:25] jods4 opened #60 "WebSocketHandler.SendAsync can throw"
I am unsure if you will consider that a bug (or design flaw) or not.

Looking at the source, and given that using websockets is very async by nature (disconnection can happen any time), I assumed that calling `SendAsync` was safe and need not a `try..catch` around it.

But in fact, it's not. It checks `WebSocket.Status`, which throws when `WebSocket` was disposed (at least the `HeliosWebSocket` do

[2015-11-04 17:32] Tratcher commented on #60
WebSockets are doing IO so every SendAsync and ReceiveAsync call needs to have exception management anyways.

[2015-11-04 17:36] jods4 commented on #60
@Tratcher Sorry I posted this in the wrong project. Should be under SignalR-Server.

I am talking about `WebSocketHandler.SendAsync`, which does already wrap `WebSocket.SendAsync` in a try/catch block. It seems clear from the code (because there's even misplaced logging code) that the intent is not to let an exception escape and log any failure.

[2015-11-04 17:37] Tratcher commented on #60
This issue was moved to aspnet/SignalR-Server#134

[2015-11-04 17:37] #60 closed

[2015-11-18 21:09] cmbankester opened #61 "Websockets.Client does not support DNXCore"
I get this error when trying to add Microsoft.AspNet.WebSockets.Client as a dependency of a DNXCore application:

[code]

A quick glance at the `project.json` for the Protocol and Server projects shows that they correctly target DNXCore, but Client does not. Any way we can get that changed?

[2015-11-18 21:52] #61 closed, assigned to nobody

[2015-11-25 16:07] Flavien opened #62 "The dependency Microsoft.AspNet.WebSockets.Client 1.0.0-rc1-final does not support framework DNXCore,Version=v5.0"
There is an issue with Microsoft.AspNet.WebSockets.Client: when trying to add it to a .NET Core project, I receive the following error:

[code]

Shouldn't it target dnxcore50 as well?

[2015-11-25 19:09] tmds commented on #62
See https://github.com/aspnet/WebSockets/issues/61

[2015-12-05 20:44] benaadams opened #63 "Unexpected end of stream - Should be close?"
[code]

[2015-12-07 20:13] Tratcher commented on #63
How did you hit this?

[2015-12-07 20:18] benaadams commented on #63
I think hard disconnects rather than close messages

[2015-12-07 20:19] benaadams commented on #63
I think hard disconnects rather than close messages; can recreate easily by connecting via websockets with a client then terminating it.

[2015-12-07 20:24] benaadams commented on #63
It didn't do anything untoward - other than being very messy for the error log

[2015-12-07 20:27] benaadams commented on #63
Feels a bit like this sort of state: https://github.com/SignalR/SignalR/blob/3a219c101587333d562f04f30903d50ad9773e1c/src/Microsoft.AspNet.SignalR.Core/Owin/WebSockets/WebSocketHandler.cs#L237

Is a disconnect rather than an error

[2015-12-07 20:32] Tratcher commented on #63
Oh so it's behaving as expected, it's just noisy. A disconnect is an error in the WebSocket protocol, it's just not a very interesting one. We can check the flow and see if it can be simplified.

[2015-12-07 20:37] benaadams commented on #63
Yea, agreed, but its a bit like someone disconnecting mid http download - probably don't care too much; whereas a `fail` is like a "go investigate what's wrong" type thing. Could be a `debug`, `verbose` or even just "disconnected" type report?

[2015-12-08 20:57] Tratcher opened #64 "[Announcement] WebSockets disabled in WebListener for v1"
WebSockets are not on the roadmap for ASP.NET 5 v1. This has the following implications:
A) WebSockets have been disabled in Microsoft.AspNet.Server.WebListener. Opaque upgrades still work so Microsoft.AspNet.WebSockets.Server middleware can still be used to add the functionality.
B) Microsoft.Net.WebSockets has been renamed to Microsoft.Net.WebSockets.Server and refactored to be an optional packa

[2015-12-08 21:05] cherrydev commented on #64
I assume that this means that SignalR will not make use of WebSockets anymore unless the WebSockets middleware is explicitly added in?  Is there a discussion thread somewhere where I might get an idea of why it's been removed from the roadmap?

[2015-12-08 21:17] dmccaffery commented on #64
@cherrydev SignalR and WebSockets has been on the chopping block for quite some time. I do believe that SignalR using long polling will be an option, but I could be wrong on that.

[2015-12-08 21:29] benaadams commented on #64
@cherrydev at a guess because WebSockets without the middleware is specifically tied to WebListener on a Windows Server version 2012 or above; and its another code path to maintain. Whereas the middleware works cross platform on all operating systems and all server versions? Also the non-middleware version causes memory fragmentation between pinned buffers; and performance degradation unless you j

[2015-12-08 21:44] cherrydev commented on #64
I guess I'm not really clear what the implications of this are.  There are two separate implementations of WebSockets?  One for WebListener Windows Server 2012 and a middleware one that works with all servers?  And the WebListener one is going to be cut entirely, and the middleware one will still exist but won't be published as a 1.0 release?

[2015-12-08 21:47] Tratcher commented on #64
@cherrydev @dmccaffery Check the roadmap: https://github.com/aspnet/Home/wiki/Roadmap#future-work, none of SignalR will be included in this release.

@benaadams All WebSockets implementations are being excluded from v1 because we won't be able to finish the perf, stress, and functional testing in time. The middleware is easy to add in from myget, but it's not as easy to dynamically extend Microsof

[2015-12-08 21:53] cherrydev commented on #64
Thanks for the pointer.  So it's just a matter of priorities and time, not that SignalR and WebSockets are being considered to drop from the platform.

[2015-12-08 21:56] dmccaffery commented on #64
Sweet. Thanks for the additional info -- I saw that roadmap some months ago and new SignalR wasn't going to happen for v1, but that's not that big of an issue -- there are plenty of ways to work around it for those that need it.

[2015-12-08 21:56] Tratcher commented on #64
Right, we'll get back to them once we get the base platform shipped.

[2015-12-08 23:05] jods4 commented on #64
I am not totally clear with the references to the WebSocket packages still being available on myget.

Right now I have a web app built on top of RC1 that uses WebSockets. Not SignalR -- because I saw it was out of the v1 -- but WebSockets directly (simple stuff).

Will there be a way to keep WebSockets working when upgrading to RC2, by referencing the myget package? (I understand this is not final

[2015-12-09 00:00] Flavien commented on #64
Is that supported on Kestrel though?

[2015-12-09 00:25] benaadams commented on #64
@Flavien yep
@jods4 I'm running with the middleware on RC2 (dev)

[2015-12-09 05:07] Daniel15 commented on #64
Minor typo in the title of this issue: "Annoucement" should be "Annou**n**cement" :stuck_out_tongue:

[2015-12-28 19:26] muratg commented on #62
@Tratcher IIRC we talked about this at some point.  Were we waiting for CoreCLR support to make client work in .NET Core?

[2015-12-28 19:34] Tratcher commented on #62
https://github.com/aspnet/WebSockets/issues/61#issuecomment-157876548

[2015-12-28 19:34] #62 closed

[2016-01-04 22:32] muratg opened #67 "Add WebSocket functional tests"
_From @Tratcher on October 20, 2015 1:0_

_From @Sharpiro on October 19, 2015 17:29_

IHttpUpgradeFeature "IsUpgradableRequest" is never true in IIS Express profile, but works when running from kestrel via default "web" profile.  Likely an issue with: `"Microsoft.AspNet.IISPlatformHandler": "1.0.0-beta8"`

Repro:

Create an empty web application from the asp.net 5 templates.  Add the following lin

[2016-01-04 22:32] muratg commented on #67
_From @Sharpiro on October 23, 2015 14:43_

I use 2 different machines currently, 1 running Windows 7, 1 running Windows 10.  I've actually noticed that this issue does not occur on my windows 10 machine, but it does occur on my Windows 7 machine.  They are both using the same dnx install and beta 8.

[2016-01-04 22:32] muratg commented on #67
_From @Tratcher on October 23, 2015 14:59_

@Sharpiro Windows7 did not support websockets for IIS/Express or WebListener. Kestrel works, but only if you use it directly without proxying through IIS.

[2016-01-04 22:32] muratg commented on #67
_From @Sharpiro on October 23, 2015 15:34_

On both my Windows 7 and Windows 10 machine I am using IIS 10.0 Express, so it seems like the functionality should be identical when debugging from VS 2015.

If this is in fact just a limitation of Win 7, then you can go ahead and close this as there isn't much anyone can do

[2016-01-04 22:32] muratg commented on #67
_From @Tratcher on October 23, 2015 15:48_

Yes it's an OS limitation. I'll keep this item open until we at least add some tests for web sockets behind httpplatformhandler.

[2016-01-04 22:32] muratg commented on #67
_From @Tratcher on November 18, 2015 22:24_

Kestrel doesn't have built in WebSockets, it depends on Microsoft.AspNet.WebSockets.Server. For layering reasons we can't reference that package from this repo. We could use WebListener to test with. We could also write the functional tests in the WebSocket repo.

[2016-01-04 22:32] muratg commented on #67
Yeah, I think writing the tests in WebSockets repo makes more sense.

[2016-01-06 15:50] zeroskyx opened #68 "ReceiveAsync cancellation throws WebSocketException and terminates the socket"
await Socket.ReceiveAsync( new ArraySegment<byte>( Buffer ), Ct );
cannot be cancelled on a ClientWebSocket when Ct is the CancellationToken.
Instead of throwing a OperationCanceledException and keeping the socket alive, the following exception is thrown and the socket is aborted:

System.Net.WebSockets.WebSocketException: The 'System.Net.WebSockets.InternalClientWebSocket' instance cannot be used

[2016-01-06 15:56] davidfowl commented on #68
This looks like it's the ClientWebSocket implementation on windows. This issue belongs on https://github.com/dotnet/corefx/issues

[2016-01-12 18:34] muratg commented on #63
Moving out, though would be happy to accept a PR :)

[2016-01-12 18:34] muratg commented on #68
This issue was moved to dotnet/corefx#5340

[2016-01-12 18:34] #68 closed

[2016-01-15 22:28] victorhurdugaci opened #70 "Change to build to use dotnet"

[2016-02-04 20:07] #70 closed

[2016-02-23 22:48] zygimantas opened #73 "Native/Managed clarification"
Could you please add more information to readme file about what is the difference between native and managed implementations and in which cases the managed one should be preferable.

[2016-02-29 22:03] muratg commented on #73
@zygimantas FYI, WebSockets will not RTM with the rest of the stack, instead will stay in Preview until we can properly finish the work.

This is a pure managed library, designed to work with ASP.NET Core stack. Once it's properly implemented, you should be using it with ASP.NET Core.

[2016-02-29 22:28] zygimantas commented on #73
Thanks @muratg , I am aware that it is in preview. But I missed a little bit of the background on this project, and I found out that if you want to get WebSockets working while debugging in Visual Studio 2015 using IIS Express 10.0 on Windows 10, you still have to use this project and configure app.UseWebSockets() in your Startup.cs file. Otherwise, IsWebSocketRequest will be false. I could not fi

[2016-03-04 18:16] Tratcher commented on #73
You need this project regardless when working with Kestrel (with or without IIS/Express). WebListener has it's own native implementation, but can also work with this one.

Part of the reason we're not shipping WebSockets yet is that we haven't done a meaningful comparison to answer your question.

[2016-03-15 18:27] gdoron commented on #64
@Tratcher Is there an example of how to use in an RC1-Final project?

[2016-03-15 18:31] Tratcher commented on #64
@gdoron Does this help? https://github.com/aspnet/WebSockets/blob/1.0.0-rc1/test/AutobahnTestServer/Startup.cs#L21-L36

[2016-03-15 18:47] gdoron commented on #64
@Tratcher Woohoo that was fast.
Yes, it most definitely helps, now I just need to find out how to use it...

    sp_rename gdoron, Christopher Columbus
:laughing:
Thanks! :+1:

[2016-03-16 00:51] gdoron commented on #64
@Tratcher Took me a while, but I managed to integrate redis and WebSockets messaging over a cluster of servers.
Which makes me think, since it worked so nicely, why isn't it in the RC? Do I need to fear from performance issues? crashes? we plan to go live-production with our application when RC2 will be released... :fearful: Do you think it's a bad idea adding WebSockets to it (it's not a mandator

[2016-03-16 04:35] Tratcher commented on #64
While we do have WebSockets working, we don't have the resources to do extended testing, performance, and stress work on it until after 1.0. That's why we're not including it. Use it at your own risk.

[2016-03-16 21:29] gdoron opened #74 "Support for Ping-pong with callback"
Hi,

It would be nice if the package would support the server initiating a ping to the client to check if it's still connected or not.
Currently (and please correct me if I'm wrong) the only to make sure the server doesn't accumulates already dead web sockets is the do ping-pong with messages instead of ping-pong frames.

Thanks,
Doron

[2016-03-16 21:54] Tratcher commented on #74
There is already a built in timer based ping-pong system.
https://github.com/aspnet/WebSockets/blob/dev/src/Microsoft.AspNetCore.WebSockets.Server/WebSocketOptions.cs#L24

[2016-03-16 22:41] gdoron commented on #74
@Tratcher Unless I'm missing something obvious, the timer only sends pings which is quite useless unless we can plugin to the pipeline and take actions if no pong was received.

https://github.com/aspnet/WebSockets/blob/9beb46dff111741cffd8eb64db255a3f0446c424/src/Microsoft.AspNetCore.WebSockets.Protocol/CommonWebSocket.cs#L165-L208.

Thanks again for the quick responses!

[2016-03-16 22:56] Tratcher commented on #74
Ping and Pongs aren't uniquely paired in the protocol, they are just control messages used to keep the pipe alive and/or check for pipe failures. You don't need to verify a pong is received for every ping, the  ping alone should be enough to verify the pipe is active or trigger a send failure (e.g SocketException).

[2016-03-21 00:40] NVentimiglia opened #75 "WebsocketHandler.Send is sometimes not working"
I am using the WebsocketHandler in an MVC application. On the client I am using WebsocketsSharp on the Unity3d platform. Everything works fine on the first / fresh launch. I boot up the server, I connect the client, and they communicate fine.

If I disconnect the client and reconnect it, things start breaking. Specifically calling the WebsocketHandler.Send method stops working. I can still send to

[2016-03-21 03:17] davidfowl commented on #75
What is WebsocketHandler?

[2016-03-21 05:13] NVentimiglia commented on #75
From Microsoft.Web.Websockets ?

[code]

[2016-03-21 05:17] davidfowl commented on #75
Yea, that package isn't supported and has nothing to do with this repository.

[2016-03-21 05:32] #75 closed

[2016-03-21 07:36] gdoron commented on #74
@Tratcher I read the spec a bit. I understand it now (not why they decided to confusingly call it ping-pong...)
Thanks.

[2016-03-21 07:36] #74 closed

[2016-04-11 02:43] benaadams opened #77 "Can Protocol.FrameHeader be a struct?"
Popping up in my allocs a lot

[2016-04-11 04:02] davidfowl commented on #77
Show some numbers?

[2016-04-11 04:09] benaadams commented on #77
Don't entirely understand Perfview but it looks like my 4th biggest allocator, 3 minute trace

![prefview](http://aoa.blob.core.windows.net/aspnet/perfview.png)

[2016-04-11 04:10] benaadams commented on #77
Obv have other issues too :)

[2016-04-11 04:23] benaadams commented on #77
WebSocketReceiveResult should be a struct https://github.com/dotnet/corefx/issues/4530 :cry:

[2016-04-27 20:51] rposener opened #79 "subprotocol is not returned in WebSocket Upgrade / Accept Response"
the following JS:
 `var exampleSocket = new WebSocket("ws://" + window.location.host, "test");`
 when accepted by:
 `WebSocket webSocket = await httpContext.WebSockets.AcceptWebSocketAsync("test");`
 does not include the header value:
 `Sec-WebSocket-Protocol:test`

even though it should per spec.

[2016-04-28 16:40] muratg commented on #79
Tentatively putting this in 1.0.0. We'll investigate after RC2 ships.

[2016-04-28 16:50] tmds commented on #79
@rposener what server are you using?

[2016-04-28 17:01] rposener commented on #79
As best I understand it's kestral hosted within IISExpress (project is targeting dnx451 and dnxcore50) currently for rc1-update2

[2016-04-28 17:59] tmds commented on #79
What should happen:
the value you give in AcceptWebSocketAsync should be set in the WebSocketAccept context [here](https://github.com/aspnet/HttpAbstractions/blob/3a97a6bdfdcc3787bf4b68cecdf277588de5ee76/src/Microsoft.AspNetCore.Http/Internal/DefaultWebSocketManager.cs#L60).
Then read from the context [here](https://github.com/aspnet/WebSockets/blob/0f9e4eba024078d2b0b2f1efb70a594b9ee70d0c/src/Mic

[2016-04-28 18:31] Tratcher commented on #79
Does it work if you run Kestrel directly without IISExpress?

[2016-04-29 21:22] rposener commented on #79
Yes, works fine once IISExpress is removed from the mix.  Is there a way to allow that to pass through?

[2016-04-29 21:59] Tratcher commented on #79
We'll have to investigate. @pan-wang, can you take a look?

[2016-05-12 18:16] benaadams opened #82 "Question inheriting from System.Net.Websocket"
Causes unneeded allocation https://github.com/dotnet/corefx/issues/4530

[2016-05-25 14:40] qooroo opened #83 "[Question] Does a sample client targeting netstandard exist?"
I'm wondering whether a `netstandard` implementation of a websocket client exists. The sample in the current codebase only targets `net451`.

@Tratcher can you point me in the right direction? Cheers

[2016-05-25 14:58] Tratcher commented on #83
There wasn't any support for a netstandard client until recently. See https://github.com/dotnet/corefx/blob/d0dc5fc099946adc1035b34a8b1f6042eddb0c75/src/System.Net.WebSockets.Client/src/System/Net/WebSockets/ClientWebSocket.cs

[2016-05-25 15:00] qooroo commented on #83
Awesome, thanks for the pointer!

[2016-05-27 22:10] danroth27 opened #85 "API ref doc summary should not start with an ellipsis and remove unnecessary vertical bars"
In HandshakeHelpers:

[code]

[2016-05-27 22:13] Tratcher commented on #85
FYI: That's a strait quote from the spec. That said, it shouldn't be in the API doc comments, move it into the method body.

[2016-05-29 17:42] seijikun opened #86 "Connection always aborts with CLOSE_ABNORMAL(1006) with WebKit-Browsers"
### Title

Connection always aborts with CLOSE_ABNORMAL(1006) with WebKit-Browsers.
### Functional impact

The client can not receive the sent `WebSocketCloseStatus`-Codes since the connection always seems to be aborted, whereupon the browser returns the StatusCode `CLOSE_ABNORMAL(1006)`.
### Minimal repro steps
- Scaffold a new rc1-final Web-API project (I can not use rc2 since my linux distro is

[2016-05-30 22:54] Tratcher commented on #86
A wireshark trace would be helpful.

[2016-05-31 12:23] seijikun commented on #86
Here is the Wireshark trace of the example above:
[wireshark.pcapng.zip](https://github.com/aspnet/WebSockets/files/291029/wireshark.pcapng.zip)

[2016-05-31 17:31] qooroo commented on #83
So close, yet so far...

https://github.com/dotnet/corefx/blob/master/src/System.Net.WebSockets.Client/src/System/Net/WebSockets/WebSocketHandle.Unix.cs

@Tratcher do you know whether support on linux will be coming? It's super sad to see a netstandard lib that's not netstandard :(

[2016-05-31 17:33] Tratcher commented on #83
No idea, that's a question for corefx.

[2016-05-31 17:33] #83 closed

[2016-06-01 20:48] Tratcher commented on #86
Thanks. FYI: We're working on 1.0 and won't get back to this for a few weeks.

[2016-06-14 21:34] buybackoff opened #88 "Bearer token header"
If I need to add a bearer token before handshake so that I accept only the connections that have a valid token, what is the correct way to do so?

After [this line](https://github.com/aspnet/WebSockets/blob/dev/test/TestClient/Program.cs#L28), should I just add this:
[code]

That is similar to what I used to do in SignalR. Is this the correct way to make identity middleware work and then use it be

[2016-06-14 21:38] Tratcher commented on #88
Yes, that should work for WebSocketClient. I assume you have something set up on the server side to validate them? JwtBearer?

[2016-06-14 21:50] buybackoff commented on #88
Thanks! Yes, I am using ASP.NET Identity + IdentityServer (do not remember from my head where `app.UseOAuthBearerTokens(OAuthOptions);` OWIN middleware comes from). But that already worked with SignalR, I am now moving to plain sockets because of [this issue](https://github.com/aspnet/SignalR-Server/issues/118) and because WebSockets support is near ubiquitous now.

I will keep this issue open for

[2016-06-15 13:28] buybackoff commented on #88
Here is code for a client:
[code]

And for the server inside Configure method:

[code]
After that `context.User.Identity` is authenticated, claims collection is populated and I could apply any logic before accepting WebSockets.

[2016-06-15 13:28] #88 closed

[2016-06-17 07:38] psicus78 opened #89 "[Question] Any plan for websocket client net core support?"
Hello,
is there any plan/possibility of supporting client web socket for net core?
If I am correct now only .net framework is supported...

thanks

[2016-06-17 14:51] davidfowl commented on #89
The .NET Core team is working on a cross platform websocket client post RTM.

https://github.com/dotnet/corefx/tree/master/src/System.Net.WebSockets.Client/src/System/Net/WebSockets

[2016-06-24 01:23] cperras opened #90 "keep-alive semantics"
Hi - Can you please clarify how keep-alives are supposed to work?

I would like to ensure that a client is currently connected, eg: by sending a ping every second, and expecting a pong (say, within 3 seconds).

However, the pong response is handled under the covers by the websocket library. There doesn't seem to be a way for my app to know when, or even if, the client ever responds with a pong.

N

[2016-06-24 02:21] Tratcher commented on #90
The ping/pongs serve two purposes:
1. They encourage the connection to stay open with occasional traffic (with emphasis on the occasional; 1 second is very high, 30 seconds is more common).
2. Detecting if the connection has been broken. Any outgoing write on a broken connection will trigger a reset from the remote party, causing the pending read on that connection to fail.

So the answer to your

[2016-06-24 18:53] cperras commented on #90
thanks for the quick follow-up. the use-case i am most concerned with is a half-open state, say, by losing a wireless connection or having an ethernet cable unplugged.

enforcing a read-timeout on the underlying TCP stream is one way to check for an unplugged cable.

it's not clear how sending a ping, by itself, is enough to verify the client is still connected (if the client is unreachable), unle

[2016-06-25 00:25] int19h opened #91 "NuGet package versions for client and server are out of sync"
The most recent version of Microsoft.AspNetCore.WebSockets.Server that is available as a NuGet package is 0.1.0-rc2-final, and its dependencies that are a part of ASP.NET Core all seem to be 1.0.0-rc2-final:

https://www.nuget.org/packages/Microsoft.AspNetCore.WebSockets.Server/0.1.0-rc2-final

On the other hand, for Microsoft.AspNetCore.WebSockets.Client on NuGet, the most recent package is 1.0.0

[2016-06-26 21:23] Tratcher commented on #91
We decided not to ship Microsoft.AspNetCore.WebSockets.Client to nuget.org for RC2. It was only ever a proof of concept and it relies on undocumented behaviors of .NET Framework's HttpWebRequest.

[2016-06-26 21:32] davidfowl commented on #91
@int19h What environment were you using the client under?

[2016-06-27 03:43] int19h commented on #91
Regular (desktop) .NET, although we were looking into either .NET Core or Mono in the future for cross-plat.

[2016-06-27 03:53] davidfowl commented on #91
@int19h I'd recommend using [ClientWebSocket](https://msdn.microsoft.com/en-us/library/system.net.websockets.clientwebsocket(v=vs.110).aspx) then, it's being ported to .NET Core by the BCL team (see https://github.com/dotnet/corefx/pulls?q=is%3Apr+websocket+is%3Aclosed). Originally, this websocket implementation was meant for windows 7 only but we'll likely merge efforts in this area.

/cc @stephe

[2016-06-27 04:10] int19h commented on #91
All non-abstract classes in `System.Net.WebSockets` namespace that come with desktop .NET are Win8+-only, aren't they?

We've been using websocket-sharp so far, and it works fine so far. But now we need a client library that supports Windows authentication (NTLM), and there seems to be a shortage of those - indeed, I don't think there even is any library that advertises such support explicitly, bu

[2016-06-27 04:47] davidfowl commented on #91
Yep, are you looking for windows 7 support?

That's part of the discussion here https://github.com/dotnet/corefx/issues/9503.

As for the NTLM support, yes `ClientWebSocket` on .NET Framework works since it uses `HttpWebRequest` under the hood. A purely managed version of the `ClientWebSocket` won't have NTLM support (unless that ended up getting ported somehow).

Will need to think about that one

[2016-06-27 06:16] int19h commented on #91
How stable is the existing AspNetCore client implementation is in practice? I understand that it's not officially supported in any case, but on the scale of "completely untested prototype" to "plenty of people are using it and seem to be doing fine, but no promises"?

Worst case, the implementation looks small enough that we can fork and maintain it if need be, until a better solution comes along

[2016-06-27 06:31] NVentimiglia opened #92 "WebSocket.ReceiveAsync throws exceptions"
I am porting over my networking library to dotnetcore. My websocket transport is nearly identical, except I am using Kestrel instead of an HTTP Listener. When I call ReceiveAsync, I get request aborted exceptions. If I add an arbitrary yield, the error changes to a NRE.

[code]

Without the yield I get this exception

When I add the yield my exception changes to this

Stack Trace

ClientSide I am

[2016-06-27 10:43] stephentoub commented on #91
cc: @davidsh, @cipop

[2016-06-27 12:58] Tratcher commented on #91
The server package has had a lot of usage and seems stable. It shares 90% of the code paths with the client package. Most of the other code paths are those already in use in System.Net's ClientWebSocket via HttpWebRequest. It's only the combination of the two that hasn't been as well tested. Feel free to build from source and submit PRs if needed.

[2016-06-27 15:46] NVentimiglia commented on #92
That was it, thanks =)

[2016-06-27 15:46] #92 closed

[2016-06-28 05:13] NVentimiglia opened #93 "Maximum of 8 connections"
I am migrating my  server to dotnetcore. Before I was using Fleck and Netgains as my websocket transport and was able to sustain many clients. Now, I am using AspNet.Websockets, and I cant get past 8 connections. I think I am missing something very simple in my implementation.

Here is my server code.

[code]

Here is my client code

[code]

[2016-06-28 05:48] davidfowl commented on #93
What happens when you get to 9?

[2016-06-28 06:18] gdoron commented on #93
Obviously 7 8 9.
OK, too tired, going to sleep.

[2016-06-28 06:58] NVentimiglia commented on #93
It does not get to 9, I`m actually trying for 100.

What can I do to provide you with better logs ?

[2016-06-28 07:08] davidfowl commented on #93
Does the client hang or fail? Can you try a browser client?

[2016-06-28 14:44] NVentimiglia commented on #93
5 clients work fine.
10 web clients works fine

.. Ok it was that damn yield statement in the open handler, thanks. closing issue

[2016-06-28 14:44] #93 closed

[2016-06-29 12:42] fhelwanger commented on #89
Does this mean that `Microsoft.AspNetCore.WebSockets.Client` wouldn't be needed anymore?

I need a web socket client for net451 that:

* Is of type `System.Net.WebSockets.WebSocket` for code sharing with our server
* Runs on Windows 7

I'm thinking about building `Microsoft.AspNetCore.WebSockets.Client.WebSocketClient` from source for now, until it's released.

Is there any better option?

Thanks!

[2016-06-29 15:05] Tratcher commented on #89
@fhelwanger it's too soon to say. It depends on the features you'll need. The new client is starting out pretty basic, where this one builds on all of the features of HttpWebRequest.  Building this client from source is your best option for now.

[2016-06-29 15:11] psicus78 commented on #89
@Tratcher have you got any idea of when it will be released, even with basic support?

thanks

[2016-06-29 18:13] Tratcher commented on #89
https://github.com/dotnet/corefx/issues/9503

[2016-06-29 19:28] Tratcher commented on #90
@benaadams do you have trouble detecting disconnects in production?

[2016-06-30 04:46] benaadams commented on #90
Not had any issues detecting disconnects and have tested thousands of disconnects a second; clean and through process and VM termination. However, we are generally constantly reading and writing on the sockets. I haven't explored much with mostly idle websockets.

Idle on a good connection it should timeout within 2.5 mins; on a bad connection where transmission has reached 240secs it could take 2

[2016-07-06 17:55] anurse opened #95 "Automate Autobahn server test suite"
Add automation to run the [Autobahn Test Suite](http://autobahn.ws/testsuite/) against the WebSocket middleware

This will involve launching Python so we'll need some scripting to detect Python and fail as appropriate, or install it or something.

* [x] Check in the necessary code to run it on build
* [x] Update CI infrastructure as needed to include necessary support files (Autobahn Runner, etc.)

[2016-07-06 18:05] Tratcher commented on #95
With coverage for Kestrel, IIS Express + Kestrel, and WebListener (w/managed).

It would also be convenient to be able to do manual runs against HttpListener and Asp.Net 4 for behavioral comparisons.

[2016-07-13 00:08] anurse opened #97 "Autobahn Failure: UTF-8 handling, WebListener with Managed Web Sockets"
Tracking a suppressed failure in the Autobahn suite for review and fixing later.

Cases 6.1.2 and 6.1.3 fail on WebListener with the managed web sockets implementation. These appear to be simple tests that send a fragmented UTF-8 message (where each fragment is itself valid UTF-8) and expect the result to be echoed back. However, the connection is being terminated abruptly by the server.

[2016-07-13 00:10] anurse opened #98 "Autobahn Failure: Many payloads of zero size, WebListener with Managed Web Sockets"
Tracking a suppressed failure in the Autobahn suite for review and fixing later.

Cases 9.7.1 and 9.8.1 fail on WebListener with the managed web sockets implementation. These failures occur because when the client sends many zero-size messages, the connection is abruptly terminated by the server.

[2016-07-13 00:16] anurse opened #99 "Autobahn Non-Strict-Conformance: UTF-8 fail-fast on Managed WebSockets"
Tracking a suppressed indication of non-strict-conformance in the Autobahn suite for review and triage later. This is not a failure, just a place where our implementation is not strictly conforming to the spec.

Cases 6.4.3 and 6.4.4 fail on all servers that use the managed WebSockets server implementation. This is due to our server not properly failing-fast when it encounters invalid UTF-8. Howev

[2016-07-13 00:31] anurse opened #100 "Autobahn Failure: Inconsistent handling of ping/pong when behind IIS and AspNetCoreModule"
When our managed web socket implementation is running behind ANCM, we see inconsistent failures in the Autobahn test suite, particularly in the cases that relate to ping/pong handling in the midst of a fragmented message.

The general pattern that appears is that when the following sequence is sent:

1. First fragment of a message
2. Ping
3. Second and final fragment of a message

The result is th

[2016-07-15 17:14] anurse opened #102 "Autobahn Failure: Many failures when in non-Windows over SSL"
Most of the test cases fail when running on a non-Windows platform using Kestrel's built-in SSL implementation.

[2016-07-15 17:16] Tratcher commented on #102
'Most'? Does the client just not like the self-signed cert?

[2016-07-15 17:18] anurse commented on #102
No, the handshake completes and then the connection terminates abruptly at some point.

[2016-07-15 23:02] anurse commented on #100
I tried to set up a standalone C# repro but the C# WebSocket libraries do not give access to sending ping frames, which is required to reproduce this issue, so I've done what I can to make the Autobahn Test Suite case easy to reproduce.

**Setup:**
1. Install CPython 2.7 - https://www.python.org/downloads/release/python-2712/
2. Run `python -m ensurepip`
3. Run `pip install autobahntestsuite`
4. R

[2016-07-25 22:04] muratg commented on #79
@anurse Does SignalR use subprotocol in websockets?

[2016-07-25 22:36] Tratcher commented on #79
This issue was moved to aspnet/IISIntegration#240

[2016-07-25 22:36] #79 closed

[2016-07-27 17:34] anurse opened #103 "Autobahn Failures: IIS Express tests fail on Win7/Server2008"
Autobahn Tests are running in IIS Express on Win7 and Server2008 but IIS Express doesn't support WebSockets on those platforms.

[2016-07-27 17:36] anurse commented on #103
Actually, it looks like it's because of an unsupported OS.

[2016-07-27 17:54] #103 closed

[2016-07-27 19:51] muratg commented on #100
Putting in 1.1 for now for further investigation to see if there are possible product bugs in the stack

[2016-07-27 19:51] muratg commented on #102
Putting in 1.1 for now for further investigation to see if there are possible product bugs in the stack

[2016-07-27 19:51] muratg commented on #99
Putting in 1.1 for now for further investigation to see if there are possible product bugs in the stack

[2016-07-27 19:52] muratg commented on #98
Putting in 1.1 for now for further investigation to see if there are possible product bugs in the stack

[2016-07-27 19:52] muratg commented on #97
Putting in 1.1 for now for further investigation to see if there are possible product bugs in the stack

[2016-08-01 19:38] anurse commented on #99
This will be fixed by moving to the CoreFX code. Confirmed that the test now reports strict-conformance in these cases with that code.

[2016-08-01 22:05] Tratcher opened #106 "Remove WebSocketOptions.ReplaceFeature"
This is a weird edge case for servers like WebListener that expose both opaque upgrades and WebSockets.

Always use the ReplaceFeature = false behavior. If someone wants to suppress the server implementation they can do so in a separate middleware:

[code]

[2016-08-02 01:54] davidfowl commented on #106
:shipit:

[2016-08-02 22:23] anurse opened #107 "When corefx code is removed, revisit warning suppressions"
When we remove the corefx internal code (before RTM), we need to revisit warning suppressions since most of them were added to suppress warnings in that code.

[2016-08-03 11:20] stephentoub commented on #107
What warnings for what code? corefx code should be building warning-free.

[2016-08-03 16:32] Tratcher commented on #107
https://github.com/aspnet/WebSockets/pull/105/files#r73249470

[2016-08-03 18:00] Tratcher commented on #107
I hit the same errors in WebListener

[2016-08-03 18:07] #27 closed

[2016-08-03 18:07] #97 closed

[2016-08-03 18:07] #99 closed

[2016-08-03 18:26] #95 closed

[2016-08-03 18:27] anurse opened #108 "Remove our WebSocket Client"
CoreFX has a client that works on Win8+ and there are discussions about making it work cross-plat. Our client was Desktop-only anyway since it depended on special features in HttpWebRequest so it only ran on Windows or in Mono.

[2016-08-03 18:40] anurse commented on #107
I'd rather not mess with the corefx code in this case since if these warnings aren't occurring there, we'll keep having them pop up when we pull in new code. For now, since this code is temporary, suppressing these warnings is pretty benign.

I'm going to move the suppressions to the files themselves though (via our copy script)

[2016-08-03 20:16] Eilon commented on #27
@anurse mark as 3-Done and set milestone?

[2016-08-04 17:35] #108 closed

[2016-08-04 18:23] anurse commented on #100
Verified that this is an IIS issue. Created bug #8376897 in the WSSC TFS database and assigned to @pan-wang

[2016-08-04 18:23] #100 closed

[2016-08-15 15:27] stephentoub commented on #107
https://github.com/dotnet/corefx/pull/10792

[2016-08-15 18:21] stephentoub commented on #77
Now that this is using the same implementation as from CoreFx, this is no longer an issue, right?

[2016-08-15 19:48] benaadams commented on #77
Will reprofile

[2016-08-16 12:38] morrisjdev opened #112 "WebSocket-Connection get closed immediately on Linux when using SSL"
I created an application using ASP.Net Core and WebSockets. On a windows machine everything works fine, but when testing on a Linux environment and enabling ssl, every WebSocket Request to the Server made via SSL gets closed in a few milliseconds.

Here is the Stacktrace from the Server:

[code]

[2016-08-16 15:09] Tratcher commented on #112
It's failing during the upgrade response. You're not having any trouble with regular https requests/response right?

[2016-08-16 15:18] morrisjdev commented on #112
Yes thats right.

[2016-08-16 18:59] Tratcher commented on #112
Package versions / project.json / repro app?

[2016-08-16 19:26] morrisjdev commented on #112
Here is the content of my project.json file:

    {
      "dependencies": {
        "Microsoft.NETCore.App": {
          "version": "1.0.0",
          "type": "platform"
        },
        "Microsoft.AspNetCore.Diagnostics": "1.0.0",
        "Microsoft.AspNetCore.Server.IISIntegration": "1.0.0",
        "Microsoft.AspNetCore.Server.Kestrel": "1.0.0",
        "Microsoft.Extensions.Logging.Console":

[2016-08-20 03:27] benaadams commented on #77
Think this change is in 0.2.0, have a test tomorrow so keeping version safe on 0.1.0 will try 0.2.0 after.

[2016-08-22 16:06] Flappiez opened #113 "Websockets failed to open connection using iis 7.5, but working as console app"
My web app works fine as a console app on win 2008 R2 including the websockets, but from the minute I host it under IIS 7.5 it fails to create websockets.

Is there a way to get a working websocket while hosted on IIS 7.5 on Win2008R2? Every documentation I have found until now stated that websockets only work on IIS8, but the asp.net core requirements are win2008R2...

Please tell me that IIS7.5

[2016-08-22 16:11] davidfowl commented on #113
WebSockets on IIS requires Windows 8/Windows Server 2012.

[2016-08-22 16:14] Flappiez commented on #113
Thank you for the answer. May I suggest that you change the documentation of "Supported operating systems" (link below) or at least append an extra asteriks :-)

https://docs.asp.net/en/latest/publishing/iis.html

[2016-08-22 17:01] Flappiez commented on #113
For others looking at this "problem":

Instead of using IIS7.5 directly i setup a service using the other post of david "Running as Windows service #1386". And forward all calls to that service from iis.

[2016-08-22 18:45] #113 closed

[2016-09-02 04:55] tmds commented on #42
With the adoption of the ManagedWebSocket semantics are the same accross implementations: "supports exactly one send and one receive on each WebSocket object in parallel".
This means we can close this issue.

[2016-09-15 18:53] anurse opened #116 "Investigate a "copyless" API"
When https://github.com/aspnet/KestrelHttpServer/pull/1105 lands in Kestrel, it will be possible to provide a "copyless" (or very low copy) WebSockets API, where we return the buffers provided by Kestrel directly. This will allow for a pull API for websockets (something like `var msg = await socket.ReceiveAsync(...)`) where we don't have to do any copying into user buffers.

This issue tracks the

[2016-09-17 10:50] benaadams commented on #77
@stephentoub Yes this is resolved; have a new DisplayClass though - will track down what it is and raise separately if its framework.

![](https://aoa.blob.core.windows.net/aspnet/frameheader.png)

[2016-09-17 10:50] #77 closed

[2016-09-21 20:38] muratg opened #118 "Update Middleware package description"
It still says "ASP.NET 5". :)

[2016-09-22 16:44] muratg opened #119 "Update Middleware package description"
It still says "ASP.NET 5". :)

[2016-09-26 00:08] kevygreen commented on #19
This would be a great addition. Especially when you are using SignalR as this would help keep the communication to the browser much smaller when sending repetitive $type information. It would be nice if this could be done as part of the core instead of trying to hack it in as an add-on after the fact if it's even possible at the higher levels without ripping out all the base levels.

[2016-10-06 13:20] TAGC opened #121 "What's the current state of this project?"
I'm trying to use migrate a .NET Framework-based web application to .NET Core, and I need it to be able to communicate with clients over websockets. I'm having issues sending data from the server back to clients ([further details here](http://stackoverflow.com/questions/39894258/asp-net-core-websocket-server-connection-killed-when-trying-to-send-data-to-cl)).

I've tried cloning this repo and tryi

[2016-10-06 16:55] Tratcher commented on #121
The devs branch may be more difficult to consume right now as we update our dependencies. Try the master branch instead.

[2016-10-13 04:12] buybackoff opened #122 "Multiplexing doesn't increase throughput on the same socket"
I am trying to get the max throughput and cannot get any expected speedup from multiplexing on a server. On a client, multiplexing over the same `ManagedWebSocket` increased throughput by almost 3x (from 12 Kops to 32 Kops), but multiplexing on the server has no effect, even somewhat negative.

The server code is below. The client is doing the reverse, with the same `Task.Run` for parallel send/re

[2016-10-17 23:30] anurse opened #123 "WebSocket Middleware considers `Connection: keep-alive, upgrade` as non-WebSocket request"
Firefox sends it's WebSocket upgrade request with a Connection header value of `keep-alive, Upgrade`.  But we check for the header to exactly equal `Upgrade`. https://github.com/aspnet/WebSockets/blob/4e2ecf8a63b9fc78175d1ef62bf2b1918b8b3986/src/Microsoft.AspNetCore.WebSockets/Internal/HandshakeHelpers.cs#L38

Similar to https://github.com/aspnet/KestrelHttpServer/issues/1170

[2016-10-17 23:30] anurse commented on #123
Ping @muratg for Triage. I assume 1.1.0 RTM for now.

[2016-10-21 05:00] muratg opened #124 "Bump version to 1.0.0"
We're releasing preview as version 0.2.0. We should bump the version to 1.0.0 after preview.

[2016-10-24 19:31] pranavkm opened #126 "Modify tests to consume the newest build of ANCM"
Related to https://github.com/aspnet/ServerTests/issues/46

Once aspnet/AspNetCoreModule#20 is done, we'll need to modify IISExpress tests to run using the most recent build of ANCM package from the feed.

[2016-10-24 22:06] cesarbs opened #127 "Test failure: WebSocketMiddlewareTests.CloseFromCloseSent_Success"
[code]

[2016-10-24 22:07] cesarbs commented on #127
Another one:

[code]

[2016-10-29 19:45] #124 closed

[2016-10-31 22:29] Tratcher commented on #123
This implementation is actually OK. See https://github.com/aspnet/WebSockets/blob/4e2ecf8a63b9fc78175d1ef62bf2b1918b8b3986/src/Microsoft.AspNetCore.WebSockets/WebSocketMiddleware.cs#L78 where it splits the header values.

This is only blocked by the kestrel issue. It works with WebListener.

[2016-11-02 21:06] #119 closed

[2016-11-02 21:40] muratg commented on #123
Closing based on @Tratcher's input.

[2016-11-02 21:40] #123 closed

[2016-11-02 21:43] muratg commented on #116
Sockets work will subsume this.

[2016-11-02 21:43] #116 closed

[2016-11-02 21:50] anurse commented on #127
When did these errors occur? I'm seeing all the tests passing right now.

[2016-11-02 22:00] cesarbs commented on #127
They were occurring very consistently on my machine. Let me check again.

[2016-11-02 22:02] cesarbs commented on #127
Interesting, I'm not seeing the failures anymore. Maybe they were fixed by a recent change? I was seeing them every time I ran the build script when I filed this issue.

[2016-11-02 22:09] #107 closed

[2016-11-02 22:09] anurse commented on #107
No changes are needed here. Our warning suppressions are now in line with other ASP.NET repos.

[2016-11-02 22:11] anurse commented on #127
The code that handles this phase of the connection is all code we grab from CoreFX and haven't changed in a while, so I'm not sure what would cause the issue. We'll keep an eye out for it for now.

[2016-11-02 22:11] #127 closed

[2016-11-02 22:58] #106 closed

[2016-11-03 17:27] #85 closed

[2016-11-03 17:35] anurse commented on #112
Looks like it's probably this issue in .NET Core: https://github.com/dotnet/corefx/issues/10858

I'm still doing a sanity check on WebSockets over SSL on Linux, but I expect this has been resolved in 1.1

[2016-11-03 18:40] #112 closed

[2016-11-03 18:43] anurse commented on #97
This was fixed by importing the CoreFX code.

[2016-11-04 22:19] anurse commented on #112
There is a new issue with WebSockets hanging on `AcceptWebSocketAsync` when using SSL on linux which is due to https://github.com/dotnet/corefx/issues/13369

[2016-11-21 22:06] muratg commented on #86
@anurse assigning to you for investigation.

[2016-11-23 00:14] #126 closed

[2016-12-08 03:43] shravan2x opened #134 "Optional keep-alive ping-pongs"
I have a server that receives less traffic. This means long-running websockets that are idle for many minutes. On its own, this is alright. But CloudFlare cuts idle sockets after exactly 100s of inactivity. [This](https://stackoverflow.com/questions/39668410/whats-disconnecting-my-websocket-connection-cloudflare-apaches-mod-proxy) post is not mine, but it captures the essence of the problem.

@Tra

[2016-12-08 04:52] Tratcher commented on #134
This option is already available, see WebSocketOptions.KeepAliveInterval. The default is 2 minutes.

[2016-12-09 17:29] shravan2x commented on #134
That solved the issue. For anyone else who passes by here, this is the code you need:

[code]

[2016-12-09 17:29] #134 closed

[2016-12-10 20:24] deandob commented on #19
Any progress on this? I have a server app that has a dependency on websockets compression and none of the libraries that support compression are ported to Core. Would be great to have native websockets compression support so that no additional libraries are needed.

[2016-12-12 20:20] Tratcher commented on #19
No progress to report, so far you two are the only ones that have asked for it.

[2016-12-17 10:48] ergen commented on #63
I get the same error. I read most of the links but I could not understand how to handle it.  I publish my application and send data to the client. it works. then I disconnect the client without closing browser (like unplugging network cable) and try sending again it fails. I use try catch and looks ok but then I get this error in log file. should I detect the users who are not used to close their

[2016-12-27 15:24] radu-matei opened #135 "What is the status of WebSocket.Client?"
What is the current status for `Microsoft.AspNetCore.WebSockests.Client`?

From the [official documentation](https://docs.microsoft.com/en-us/aspnet/core/api/microsoft.aspnetcore.websockets.client.websocketclient#Microsoft_AspNetCore_WebSockets_Client_WebSocketClient) currently you are redirected to the `master` branch of this repo, which is currently behind `dev` and contains the `Client`, `Proto

[2016-12-27 16:12] Tratcher commented on #135
Use WebSocketClient. WebSockests.Client was only ever a proof of concept.

[2016-12-27 16:12] Tratcher commented on #135
Woops, I meant use ClientWebSocket.

[2016-12-27 16:19] radu-matei commented on #135
@Tratcher Thanks for the quick reply!

[2016-12-27 16:28] radu-matei commented on #135
And how about `Microsoft.AspNetCore.Sockets`?

[2016-12-28 05:18] Tratcher commented on #135
That's something @davidfowl needs to rename before it drives us all crazy.

[2016-12-28 09:35] radu-matei commented on #135
Thanks a lot, I will close the issue now.

Thanks!

[2016-12-28 09:35] #135 closed

[2016-12-30 00:22] cesarbs opened #137 "Revert 9e729be when SslStream issue is resolved"
`SslStream` issue: https://github.com/dotnet/corefx/issues/14698#issuecomment-269711576

[2017-01-08 09:11] deandob commented on #19
Hi,
Are there any plans for it? Any reasonable websockets payload over the internet would get a good speed boost with compression (and its a standard feature on other websockets stacks)?

Also its not clear what to do about client websockets - an earlier issue just closed about the client mentions to use 'ClientWebSocket' from System.Net, are there plans for a Core version?

[2017-01-08 16:03] Tratcher commented on #19
No plans for it this milestone, it's a large feature and there's been minimal interest.

Yes, ClientWebSocket will be available for Core.
https://github.com/dotnet/corefx/blob/561050c311a09faef1818765baa1159b54371f0a/src/System.Net.WebSockets.Client/src/System/Net/WebSockets/ClientWebSocket.cs

[2017-01-08 23:10] kevygreen commented on #19
I think there is minimal knowledge not necessarily interest. I don't think many people are aware of this level of detail of the spec. They might not even know of the possible gains they could get with such a feature.

We use SignalR as our primary push notification system. With JSON serialization of objects there is a huge communications gain by adding in compression, especially for arrays of obje

[2017-01-09 11:38] deandob commented on #19
My use case is similar (and likely quite common for websockets), use of JSON between client and server is easy to blow out the package size significantly and permessage-deflate extension support in ASP Core would see some significant speedups for websockets users. Even though Edge does not (yet) support this extension all the other popular browsers do. Given the large focus on Kestrel's raw perfor

[2017-01-09 12:53] Tratcher commented on #19
@davidfowl would SignalR use WS compression?

[2017-01-09 13:54] Tratcher commented on #19
Implementation notes:
The [System.Net.WebSockets.WebSocket.SendAsync](https://msdn.microsoft.com/en-us/library/system.net.websockets.websocket.sendasync(v=vs.110).aspx) API is poorly suited to compression/extension. Compression is a per-message flag set on the first frame using the [RSV1 bit](https://tools.ietf.org/html/rfc7692#section-6). SendAsync sends frames and only takes the buffer, message

[2017-01-10 05:33] davidfowl commented on #19
Possibly? Do all browsers support it? Does it transparently fallback if it isn't supported client side?

[2017-01-10 05:34] Tratcher commented on #19
The client has to request it, just like subprotocol. Need to research where else it's supported.

[2017-01-10 11:16] deandob commented on #19
FYI. Here is a c# example of an websockets implementation with compression.
[https://github.com/vtortola/WebSocketListener/wiki/Deflate-extension](url)

Thanks for looking into it.

[2017-01-10 13:06] Tratcher commented on #19
@deandob interesting. They use a completely different WebSocket API abstraction that's message based and directly exposes the extensibility flags. Then they wrap the base implementation with another that manages the compression. However, they don't have a way to enable/disable compression on a per message basis.

[2017-01-10 18:27] cesarbs commented on #137
https://github.com/aspnet/WebSockets/commit/e075ae9b13a83dd4c05c554e341166f23156e5f9

[2017-01-10 18:27] #137 closed

[2017-01-10 23:14] Tratcher commented on #19
https://github.com/aspnet/HttpAbstractions/issues/711

[2017-01-11 09:48] deandob commented on #19
OK thanks. So I guess it is still a ways away then? Need any community help?

[2017-01-11 12:04] Tratcher commented on #19
The object model issues mean that implementing this will require significant effort. That won't happen without clear customer demand. The best thing you can do right now is help gauge interest.

[2017-01-24 16:10] Kardax opened #140 "permessage-deflate support"
`permessage-deflate` can be used to reduce the size of messages, such as the highly-compressible JSON format.  Each message can independently choose to be compressed or uncompressed, depending on the nature of its content.

Adding this feature would facilitate delivery of more data in bandwidth-constrained scenarios, such as cellular networks, without having to fall back to traditional HTTP data t

[2017-01-24 16:42] Tratcher commented on #140
Duplicate of https://github.com/aspnet/WebSockets/issues/19

[2017-01-24 16:42] #140 closed

[2017-01-24 16:44] Kardax commented on #140
Oops, sorry!

[2017-01-24 16:55] Kardax commented on #19
The suggestion to overload WebSocketMessageType with CompressedBinary and CompressedText is appealing from a usage perspective.  It makes the availability of the feature noticeable via Intellisense and naturally works on a per-message basis.  It's not as good from an API purist perspective as we're adding two enum items to cover a single flag.

I think a new overload of SendAsync is best.  Compres

[2017-01-24 18:11] Tratcher commented on #19
Most of this work needs to be done in https://github.com/dotnet/corefx/issues/15430, ASP.NET only implements the handshake.

[2017-02-02 19:48] natemcmaster opened #141 "Upgrade to VS 2017"

[2017-02-02 21:56] #141 closed

[2017-02-03 22:49] JunTaoLuo opened #143 "Reenable AutobahnTestAppAspNet4"
As part of migrations to VS 2017, I temporarily disabled building the app which targets 4.6.1. Once we can build this sample again, we need to add it back to the solution and start building it again. https://github.com/aspnet/WebSockets/blob/0e1dd78771f113db5451505bcfce02f27a97d48c/samples/AutobahnTestAppAspNet4/AutobahnTestAppAspNet4.csproj.aspnet4

[2017-02-23 02:28] RyanLamansky commented on #19
I'm currently being impacted by this issue: I'm converting a polling-based process from XHR to a WebSocket and have discovered that although the site is now faster on high-speed connections (latency reduction via data pushes from the server at the exact moment of readiness), it's _slower_ on low-speed connections (data takes 10x more bandwidth).

[2017-03-02 14:57] gabrielkotev opened #146 "[Question] Connection to a websocket server with external client"
Hi,
Is it possible to connect to a asp.net core websocket server with a client that is outside the solution ?
I tried to connect to the server with the same client that was inside the wwwroot folder, without any success . Also I tried to expose the IIS express to my home private network (to prevent possible loopbacks), and it worked for http request but still not for the wobsocket request.
I also

[2017-03-13 23:01] anurse opened #150 "Review "non-strict" test cases"
We allowed "non-strict" Autobahn results to count as passing because some tests were occasionally yielding non-strict results. We should review if/why we have non-strict results and if we need to make changes to fix them.

[2017-03-14 22:23] zygimantas commented on #42
I am not sure if this is a good place to ask, but this discussion is the closest thing I can find which related to the problem I am experiencing. Is it possible, that (await SendAsync(...)) returns  before the message is actually sent to the client? Is it by design, or it's a possible bug?

I noticed that by breaking the loop:
    ```while(IsConnected()) { ... await SendAsync(...).ConfigureAwait(f

[2017-03-14 22:43] Tratcher commented on #42
@zygimantas SendAsync completion only guarantees the WebSocket is done with the buffer you passed into it. It practice it means that it has formatted the WebSocket frame and written it to the next layer down (e.g. Sockets). It can't guarantee the message has been received by the client, or has even left the server. This is why WebSockets has a Close handshake, to make sure all data has been sent/r

[2017-03-17 03:59] JunTaoLuo opened #152 "Flaky Autobahn conformance test on IISExpress on Win10"
Can you take a look at the following failures on the CI? These are not `Non-Strict` failures we used to see.
http://aspnetci/viewLog.html?buildId=187091&tab=buildResultsDiv&buildTypeId=XPlat_Windows_Win10Universe
http://aspnetci/viewLog.html?buildId=188041&tab=buildResultsDiv&buildTypeId=XPlat_Windows_Win10Universe
We may want to disable them for now while are you investigating.

[2017-03-17 16:33] anurse commented on #152
We're going to need to publish the Autobahn reports as artifacts from all of the builds if we want any hope of being able to debug these. It's proven extremely difficult to reproduce a transient failure like this and without the reports, we're not able to see what failed and why. The reports should already be published into the `artifacts` directories of both the SignalR and WebSockets builds. The

[2017-03-17 16:37] anurse commented on #152
Also, these test failures always seem to occur when behind IIS, and never when just using Kestrel and our WebSockets implementation. Wondering if we should stop testing ANCM's WebSocket forwarding in this repo and move that responsibility elsewhere. /cc @Tratcher

[2017-03-17 16:53] anurse commented on #152
https://github.com/aspnet/AspNetCoreModule/issues/80

[2017-03-17 22:09] #152 closed

[2017-03-20 20:41] Tratcher commented on #146
WebSockets has no addition security requirements beyond those of HTTP. What errors do you get?

[2017-03-22 19:23] jbagga opened #157 "Autobahn Test suite CI failures"
[AutobahnTestSuite](https://github.com/aspnet/WebSockets/blob/dev/test/Microsoft.AspNetCore.WebSockets.ConformanceTest/AutobahnTests.cs#L22) is consistently flaky on OSX and occasionally on Win8, 10, 2012.

http://aspnetci/project.html?projectId=XPlat&testNameId=-7856782943084166959&tab=testDetails

[2017-03-22 19:43] jbagga commented on #157
cc @anurse

[2017-03-22 22:26] anurse commented on #157
The Windows failures are because IIS appears to be flaky at forwarding WebSocket connections (see https://github.com/aspnet/AspNetCoreModule/issues/80). I'll disable IIS testing to get rid of that bit of flakiness.

The OSX failure seems very odd, so I'm getting a bit more information on it.

I'm really hesitant to skip these tests because they are the only way we ensure our WebSockets implementat

[2017-03-23 07:30] JaroslawParadysz opened #159 "Autobahn-0.5.0 client issue"
I can't integrate Android Autobahn-0.5.0 client with core WebSocket, during connection I receive "WebSocket protocol violation" . Is there any chance to do this?

[2017-03-23 17:08] anurse commented on #159
Is your server running behind IIS? We've seen protocol violations when running in that scenario. We use Autobahn's test suite to verify our implementation, so in general I'd expect the client to work just fine. Do you have any more information on the protocol violation that's occurring?

[2017-03-23 17:09] anurse opened #160 "Re-enable Autobahn Tests on IIS when ANCM issues resolved"
See https://github.com/aspnet/AspNetCoreModule/issues/80

We had to disable our Autobahn tests that run in the IIS+ANCM scenario because we were seeing frequent flakiness and random failures. This issue is to track re-enabling those tests when ANCM is able to consistently pass the test suite.

[2017-03-23 17:11] anurse commented on #160
Link to the code that ran these tests before we removed them: https://github.com/aspnet/WebSockets/blob/eb0ab115d84704af6ce30a6932fa08d427ce0a1d/test/Microsoft.AspNetCore.WebSockets.ConformanceTest/AutobahnTests.cs

[2017-03-23 20:10] JaroslawParadysz commented on #159
Thank you for answer. I run server on IIS Express. I will try to get more info about protocol violation.

[2017-03-24 14:22] gabrielkotev commented on #146
After some research it worked.
But I will share, to spare the time of others on same issue.
I believe that it's an issue of old asp.net core version,
I had no error, it simply didn't connect to the server.
When I changed the project to an newer asp.net core version it didn't worked once again because
I tested it with Microsoft edge - which it was a big mistake!
Microsoft edge do not allow loopback

[2017-03-24 14:22] #146 closed

[2017-03-26 00:37] anurse opened #161 "Port CoreFX PR #17444"
https://github.com/dotnet/corefx/pull/17444

Just tracking this so I remember to do it on Monday ;).

[2017-03-29 17:18] muratg commented on #161
@anurse Reminder :)

[2017-03-29 17:26] anurse commented on #161
Build failures and flaky tests are higher priority, right ;)

[2017-04-12 20:57] pranavkm opened #163 "1.1.3 Flaky test in OSX"
AutobahnTests.AutobahnTestSuite

[code]

I think we made a bunch of changes in dev to fix these tests. I guess we'll need to port this over

[2017-04-12 20:57] pranavkm commented on #163
cc @Eilon \ @anurse  \ @muratg

[2017-04-12 21:00] Tratcher commented on #163
@anurse

[2017-04-12 21:03] anurse commented on #163
Probably. We made the tests more resilient to slow agents, because we were seeing problems in macOS

[2017-04-13 00:54] mikeharder opened #164 "Flaky Test: AutobahnTests.AutobahnTestSuite"
Test `AutobahnTests.AutobahnTestSuite` failed during Win2012-Universe #24410:

[code]

[2017-04-13 16:55] #161 closed

[2017-04-14 17:47] anurse commented on #163
Should be resolved now.

[2017-04-14 17:47] #163 closed

[2017-04-20 13:50] garcus opened #169 "Long running websockets using IIS"
I have a problem when I have long running websocket connections open and the server is recycled from IIS (or website stopped). I thought I'd handle closing open websockets in a registered ApplicationStopping handler in ApplicationLifetime but it is never called. As long as I have open websockets I have no way of controlling the recycle-process.

Is this right, or am I missing something? Shouldn't

[2017-04-20 14:56] Tratcher commented on #169
@pan-wang @shirhatti

[2017-04-28 18:25] #8 closed

[2017-04-28 18:25] #9 closed

[2017-04-28 18:25] #19 closed

[2017-04-28 18:25] #42 closed

[2017-04-28 18:25] #44 closed

[2017-04-28 18:25] #50 closed

[2017-04-28 18:25] #63 closed

[2017-05-12 18:29] muratg commented on #64
We are closing this issue because no further action is planned for this issue. If you still have any issues or questions, please log a new issue with any additional details that you have.”

[2017-05-12 18:29] #64 closed

[2017-05-12 18:30] muratg commented on #73
We are closing this issue because no further action is planned for this issue. If you still have any issues or questions, please log a new issue with any additional details that you have.

[2017-05-12 18:30] #73 closed

[2017-05-12 18:57] muratg commented on #90
We are closing this issue because no further action is planned for this issue. If you still have any issues or questions, please log a new issue with any additional details that you have.

[2017-05-12 18:57] #90 closed

[2017-05-12 20:21] muratg commented on #91
We are closing this issue because no further action is planned for this issue. If you still have any issues or questions, please log a new issue with any additional details that you have.

[2017-05-12 20:21] #91 closed

[2017-05-12 20:21] muratg commented on #121
We are closing this issue because no further action is planned for this issue. If you still have any issues or questions, please log a new issue with any additional details that you have.

[2017-05-12 20:21] #121 closed

[2017-05-12 20:21] muratg commented on #122
We are closing this issue because no further action is planned for this issue. If you still have any issues or questions, please log a new issue with any additional details that you have.

[2017-05-12 20:21] #122 closed

[2017-05-25 23:15] anurse commented on #118
This was fixed a while ago :)

[2017-05-25 23:15] #118 closed

[2017-06-05 02:00] John0King opened #182 "[question] Is there a way to handle unsafe close ?"
How to handle unsafe close?  and why the websocket is not event based ( `OnClose() `  ) ?

[2017-06-05 02:59] Tratcher commented on #182
An unsafe close (e.g. closing the socket without a close message) by the remote party is represented as an exception (WebSocketException?) thrown from ReceiveAsync. You can catch this and deal with it as you see fit.

[2017-06-05 03:16] davidfowl commented on #182
There's a specific error code for this (it's a connection reset).

[2017-06-05 03:19] davidfowl commented on #182
That's a good question. My guess is that it was made to match our existing Socket APIs rather than the browser API. See this API suggestion https://github.com/dotnet/corefx/issues/20583.

[2017-06-05 07:20] John0King commented on #182
@Tratcher  @davidfowl  do I need call `Close()` or `Dispose()` on WebSocket Object  after I catch the WebSocketException ?  or use a `using(websocket) {  .... }`

Could you update  a  full example code  in samples folder , it will be very helpful !

[2017-06-05 15:13] davidfowl commented on #182
@Tratcher we should really be doing that at the end of a web socket request.

[2017-06-05 15:18] Tratcher commented on #182
Fair. That'd be a finally block here:
https://github.com/aspnet/WebSockets/blob/de8b7e7d3c06272a840859b365c37618c39ed78a/src/Microsoft.AspNetCore.WebSockets/WebSocketMiddleware.cs#L48

that removed and disposed the feature and it's associated WebSocket (if any).

[2017-06-13 08:49] paulopez78 opened #184 "Could not load file or assembly 'System.Net.WebSockets, Version=4.0.0.0, Culture=neutral"
This is my scenario:

I've created a nuget package [EasyWebSockets](https://www.nuget.org/packages/EasyWebSockets) that targets `netstandard1.3` and has a dependency to `Microsoft.AspNetCore.WebSockets 1.0.2`

I'm using that package without any issue in ASP .NET Core projects targeting `netcoreapp1.1`

The problem starts when also **targeting net461**, the build is working but in runtime throws: `

[2017-06-13 17:12] mikeharder opened #185 "Upgrade TargetFramework in TestServer from 4.5 to 4.6.1"
The target framework for samples\TestServer is currently 4.5.  It should be upgraded to 4.6.1 to align with the rest of ASP.NET Core and to require one less dependency to build the WebSockets repo.

[2017-06-14 22:31] muratg commented on #182
@Tratcher good to close?

[2017-06-14 22:40] Tratcher commented on #182
@muratg no, @davidfowl asked for a code change.

[2017-06-20 09:38] deandob opened #186 "Websockets connection failing only with Chrome accessing ASP Core Server using subprotocol"
Logged this over at stackoverflow but didn't get a response.

I have a MQTT client / broker implementation, client is browser websockets based, server is ASPNetCore 1.1 with Kestrel & Websockets (0.1.0).

As part of the MQTT spec, I am initiating a websockets connection using "MQTT" as the subprotocol, which the Server looks for when establishing the websockets connection.

JavaScript connection e

[2017-06-20 11:38] campersau commented on #186
Have you tried specifying the sub protocol in AcceptWebSocketAsync:
[code]

[2017-06-20 12:06] deandob commented on #186
Yep, that worked, no more end of stream errors if I specify the subprotocol on AcceptWebSocketAsync. I must have missed that in the documentation.
However, its still not right that if Chrome requests a subprotocol without the server expecting one then ASP faults, yet is fine for other browsers.

[2017-06-20 13:16] davidfowl commented on #186
@deandob I'm confused, isn't it faulting because the client closed the connection?

[2017-06-20 21:32] deandob commented on #186
@davidfowl According to the Chrome error, the session was never established (Chrome timed out when establishing the connection). Anyway, specifying the subprotocol in AcceptWebSocketAsync as per @campersau works for my app so I can move on, just thought I'd highlight the inconsistent handling of subprotocol errors depending on what browser is being used.

[2017-06-21 06:44] davidfowl commented on #186
We don't do anything browser specific so the client must just be killing the connection.

[2017-06-21 08:20] risogolo opened #187 "Error on successful http call while websockets connection is open"
I'm getting an exception and my websockets connection is terminated when I call http call to any endpoint inside socket.ReceiveAsync method

`System.Net.WebSockets.WebSocketException: The remote party closed the WebSocket connection without completing the close handshake. ---> System.IO.IOException: Error -4077 ECONNRESET connection reset by peer ---> Microsoft.AspNetCore.Server.Kestrel.Internal.N

[2017-06-21 08:21] davidfowl commented on #187
Can you provide a sample?

[2017-06-21 08:24] risogolo commented on #187
public async Task Invoke(HttpContext context)
        {
                if (!context.WebSockets.IsWebSocketRequest)
                {
                   await _next.Invoke(context);
                    return;
                }

                var socket = await context.WebSockets.AcceptWebSocketAsync("json-rpc");

            var id = _socketManager.AddSocket(socket);

                await Rece

[2017-06-21 08:37] davidfowl commented on #187
That's because you  end the receive loop if there's an exception. Just catch the exception and it won't terminate the websocket. If the task ends, the websocket will die.

[2017-06-21 08:43] risogolo commented on #187
No, it's terminated anyway even if I don't rethrow the exception, but the question is why even exception is thrown on successful http call?

[2017-06-21 08:56] davidfowl commented on #187
Get rid of the http client call and just throw an exception. Does it still end? I don't think there's anything special about http client throwing that would cause it to fail. Are you sure it's not failing somewhere else?

[2017-06-21 08:56] risogolo commented on #187
[code]

[2017-06-21 08:57] davidfowl commented on #187
@risogolo So one thing you're doing that isn't great. The callback should be `Func<WebSocketReceiveResult, byte[], Task>` not Action. The Receive loop should be awaiting the handleMessage call. That might be the problem.

[2017-06-21 09:01] risogolo commented on #187
Thank you David, one more thing which does not belong here, but I cannot find any related information, what is different between
https://www.nuget.org/packages/Microsoft.AspNetCore.WebSockets.Server/
and
https://www.nuget.org/packages/Microsoft.AspNetCore.WebSockets/

also if you think the previous "issue" is not actually an issue you can close it

[2017-06-21 09:12] davidfowl commented on #187
It's a bug in the code.

This is deprecated.

[2017-06-21 09:12] #187 closed

[2017-06-21 09:14] risogolo commented on #187
@davidfowl: do you mean in my code or? in websockets library code itself

[2017-06-21 09:17] davidfowl commented on #187
In your code, what I called out is likely the issue. The websocket shouldn't just close for arbitrary exceptions happening.

[2017-06-21 18:37] villecoder opened #188 "Processor issues in Docker/Nginx environment using Websocket middleware"
I'm following Radu Matei's implementation of WebSocket middleware for an ASP.NET Core website running behind docker.

Here are my project dependencies:
`"dependencies": {
    "Microsoft.NETCore.App": {
      "version": "1.1.0",
      "type": "platform"
    },
    "Microsoft.AspNetCore.AngularServices": "1.1.0-*",
    "Microsoft.AspNetCore.Diagnostics": "1.1.0",
    "Microsoft.AspNetCore.Mvc": "1.1

[2017-06-21 18:40] Tratcher commented on #188
Reference link?

[2017-06-21 18:42] davidfowl commented on #188
https://github.com/radu-matei/websocket-manager

@villecoder Did you try filing a bug on that repository? Have you profiled the application?

[2017-06-22 12:34] villecoder commented on #188
@davidfowl I did not file a bug in that repository, but I intend to.  I didn't see anything overtly counter-productive in their code, however.  From what I've implemented, it's the standard implementation of OnConnected, OnDisconnected, and ReceiveAsync that you see in every example on how to create a websocket server with this library.

The reason I'm opening the issue is to discover if you have

[2017-06-22 12:57] davidfowl commented on #188
Nope. The next step is to profile and see where the CPU time is spent

[2017-06-24 02:00] davidfowl opened #189 "Dispose the WebSocket at the end of the request"
From https://github.com/aspnet/WebSockets/issues/182#issuecomment-306214086, we don't dispose the websocket object at the end of the request. We should be doing this.

[2017-06-24 02:00] davidfowl commented on #182
Closing this and opening a new bug.

[2017-06-24 02:00] #182 closed

[2017-06-27 21:24] muratg commented on #185
@mikeharder Moving this to 2.1.0.  But if you'd like to get it in before, please bring it back.

[2017-06-27 22:49] #185 closed

[2017-07-24 22:29] ninjasource opened #196 "No ability to set TcpClient.NoDelay to true"
Hi,

There does not seem to be a way to configure the underlying socket connection to send small messages immediately. You would typically do this on a simple TcpClient by setting the NoDelay property to true. As it now stands the application will wait a few milliseconds for more potential data before it completes a TCP segment and puts it on the wire. Would it be possible to enable this behaviour

[2017-07-25 03:48] Tratcher commented on #196
You're looking at the wrong layer. WebSockets don't own the underlying socket, the server does. I suggest asking this question in https://github.com/aspnet/KestrelHttpServer.

[2017-08-17 14:22] stephentoub opened #198 "CoreCLR 2.0 - TODO for resources in error handling"
_From @ayende on August 17, 2017 14:7_

When a web socket connection is broken, I'm getting this:

![image](https://user-images.githubusercontent.com/116915/29416327-664801fc-836e-11e7-8f58-7ee462a1a644.png)

I assume that is something that should be fixed :-)

_Copied from original issue: dotnet/coreclr#13425_

[2017-08-17 14:22] stephentoub commented on #198
That's coming from here:
https://github.com/aspnet/WebSockets/blob/4e2ecf8a63b9fc78175d1ef62bf2b1918b8b3986/src/Microsoft.AspNetCore.WebSockets/Internal/fx/SR.cs#L22

[2017-08-19 14:04] Meai opened #199 "Why is IsWebSocketRequest always false?"
I put all the info needed into a single screenshot.

![its not working](https://user-images.githubusercontent.com/649922/29487362-e706a30e-84f7-11e7-9e07-046c60078c78.png)

[2017-08-19 14:16] #199 closed

[2017-08-19 14:16] Meai commented on #199
seems to be because I'm going through nginx

[2017-08-22 08:38] risogolo opened #200 "How to properly handle multiple connections from one client"
Client tries to connect multiple times and server throws an "System.InvalidOperationException: 'The WebSocket has already been started.' ", how to properly handle this situation, cannot find anything relevant .

[2017-08-23 05:03] Tratcher commented on #200
That doesn't make sense, each client should be a separate HTTP Upgrade request. Where exactly are you getting this error? What client are you using?

[2017-08-23 06:25] risogolo commented on #200
So the exception is thrown at this line of code `WebSocket socket = await context.WebSockets.AcceptWebSocketAsync(SUBPROTOCOL);` on server side, and basically it happens if the client tries to open the connection to the same endpoint more that once. (I tried NET client also NodeJS/React)

[2017-08-23 06:35] jkotalik commented on #200
Honestly that seems more like a client error, as with WebSockets, as soon as the server responds with the last byte of the response to an upgrade request, it assumes that the socket between client and server is using websockets. If a client sends multiple requests on the same socket, it is possible that multiple requests can be in process at the same time, causing the server to try to upgrade it m

[2017-08-23 06:47] jkotalik commented on #198
Looks like we need to update our copy of WebSockets, I'll go ahead and fix that.

[2017-08-23 06:59] jkotalik commented on #198
@anurse Seems like we need to also be copying https://github.com/dotnet/corefx/blob/master/src/System.Net.WebSockets/src/Resources/Strings.resx for the comments?

[2017-08-23 11:23] Tratcher commented on #200
Is there a full stack trace? I can't find that error message anywhere in the source code.
It sounds like you're calling AcceptWebSocketAsync twice on the same request.

[2017-08-23 11:25] Tratcher commented on #200
@jkotalik None of our servers support parallel processing of requests from the same connection.

[2017-08-23 19:48] anurse commented on #198
Yep, sounds right

[2017-08-23 23:31] anurse commented on #198
I'd propose this for a patch release. If not 2.0.1, then the next one. The risk is low and the impact is pretty high: Having these exception messages be completely bogus strings is not a good thing and it's easy for a customer to encounter this.

Note: the PR for this also brings in some behavior changes, we would need to fully understand those before considering taking those in the patch as well,

[2017-08-24 05:32] davidfowl commented on #198
Damn I forgot to file this bug in 2.0.0 https://github.com/dotnet/corefx/issues/21509 😞

[2017-08-24 16:46] Eilon commented on #198
Moving out of patch milestone.

[2017-09-09 15:45] davidfowl commented on #196
Also NoDelay is true by default.

[2017-09-09 15:45] #196 closed

[2017-09-12 13:49] risogolo commented on #200
Ok I was wrong, I think we can close it.

[2017-09-18 18:53] jkotalik commented on #198
@anurse Do we still want to merge this in or figure out a better solution?

[2017-09-18 20:44] Tratcher commented on #198
We need to find an non-manual solution.

[2017-09-18 22:34] anurse commented on #198
We need https://github.com/dotnet/corefx/issues/21537, which is still on the queue for 2.1

[2017-09-18 22:52] jkotalik commented on #198
Closed my PR as we will wait for corefx to expose their implementation in 2.1.

[2017-09-20 08:48] davidfowl commented on #198
Will that package be netstandard?

[2017-09-20 15:36] anurse commented on #198
My understanding is yes. It will support the managed implementation on all platforms with non-managed light-ups

[2017-09-22 01:30] jkotalik commented on #164
I ran into this too. This test seems to be failing more often than not. Stack Trace:
[code]

[2017-09-22 01:35] jkotalik commented on #164
More details from the autobahn script:

[code]

[2017-09-28 21:49] jkotalik commented on #198
Awaiting response from https://github.com/dotnet/corefx/issues/21537 for next action. Un-assigning myself for now.

[2017-09-28 22:49] anurse commented on #198
Well, it sounds like we're going to keep copy-🍝 for now, so I guess we should just update our code with the latest. Note that https://github.com/dotnet/corefx/pull/24288 is pending and we may as well wait until that's in to pull it as well.

[2017-09-29 16:35] anurse commented on #198
The PR I referenced has been merged. @jkotalik , we might as well do another code sync from the latest corefx master using the script. It's relatively harmless even if we end up moving away from code sharing and it makes sure we don't accidentally ship another release with this problem ;)

[2017-09-29 16:58] jkotalik commented on #198
I mean the whole problem before was we weren't pulling the resx file for websockets. We will need to add that to the script.

[2017-09-29 19:09] anurse commented on #198
Yeah, I'm not happy about expanding our code-copying, but if they're not going to release an OOB we're going to have to do it eventually. We don't have to rush in to fixing this, but by 2.1 RTM we have to do one of: fix the script and copy the resx, or drop the source copying and switch to an OOBed package.

[2017-09-29 19:22] stephentoub commented on #198
Yeah, I suggest you hold off.  I'm still hopeful they'll be an OOB here.

[2017-10-05 16:54] nehmebilal opened #204 "KeepAliveInterval doesn't seem to work"
In my StartUp class of ASP.Net app hosted using WebListener, I am adding the WebSocketMiddleware as follows:

[code]

Then I am creating WebSockets as follows:

[code]

The value I use for KeepAliveInterval doesn't seem to have any effect and it still seems to take up to 2 minutes to send a ping.

I am currently using Microsoft.AspNetCore.WebSockets 1.0.2.

Am I doing anything wrong?

[2017-10-05 17:08] Tratcher commented on #204
Takes up to 2 minutes for what? To send a Ping?

[2017-10-05 17:08] nehmebilal commented on #204
Yes.

[2017-10-06 15:43] nehmebilal commented on #204
Any thoughts?

[2017-10-10 19:33] ryanbrandenburg opened #205 "Travis builds on Linux fail due to dependency issues"
https://travis-ci.org/aspnet/WebSockets/jobs/278439693. This appears to have been caused by a change in Travis images rather than within this repo.

[2017-10-11 17:41] Tratcher commented on #204
The relevant code:
https://github.com/aspnet/WebSockets/blob/c65e8681c4a50fc33c263d1f42dfcf007cb5c035/src/Microsoft.AspNetCore.WebSockets/Internal/fx/src/System.Net.WebSockets.Client/src/System/Net/WebSockets/ManagedWebSocket.cs#L487-L501
It does have that else clause that says it will skip sending a Ping if any other send is already in progress.

[2017-10-11 17:51] nehmebilal commented on #204
Ok. In my experiments, there was pretty much no traffic other than the pings so there shouldn't be any contention on the lock.

[2017-10-26 02:01] shravan2x opened #207 "System.InvalidOperationException: TODO, RESX: net_Websockets_AlreadyOneOutstandingOperation;"
This exception occurred during some testing, I'm not 100% sure how to reproduce it. If the `TODO` below actually means something was not implemented, that may be the cause.

[code]

[2017-10-26 02:04] shravan2x commented on #207
That issue seems to corrupt all of the application for some reason, leading to more of

[code]

[2017-10-26 06:32] jkotalik commented on #207
The TODO is a duplicate of another issue #198. It isn't an actual issue, its that we forgot to add logging for some websocket scenarios. The exceptions you are getting are more likely because there is a websocket protocol violation between the client and the server. I'd check out the docs for more information https://docs.microsoft.com/en-us/aspnet/core/fundamentals/websockets. Sorry that the exce

[2017-10-26 06:45] shravan2x commented on #207
I think I figured out the issue with the sockets themselves. I was calling `SendAsync` when a previous `SendAsync` might have been blocked since the connection closed. I'll confirm by tomorrow.

[2017-10-27 02:27] anurse commented on #207
@shravan2x Yeah, that makes sense. The exception message here is supposed to be this one: https://github.com/dotnet/corefx/blob/dfb4bf4b7454fdbacbcada8ff8fe344a32fc527e/src/System.Net.WebSockets/src/Resources/Strings.resx#L115 : `There is already one outstanding 'SendAsync' call for this WebSocket instance. ReceiveAsync and SendAsync can be called simultaneously, but at most one outstanding operat

[2017-10-27 21:44] anurse opened #208 "Provide some guidance for managing WebSocket lifetime"
We've had a few reports from customers who are taking the `WebSocket` object, handing it off to a background thread and then allowing the request thread to complete. This causes the underlying connection to be closed and breaks the WebSocket. We should consider providing some guidance (a sample, blog post, docs, even changes to behavior if we feel that's valid) to help customers understand how the

[2017-10-27 21:49] Tratcher commented on #208
@BrennanConroy does SignalR do this too? What's the pattern used there?

[2017-10-27 22:42] anurse commented on #208
I think the right pattern to document for today is something like this:

[code]

[2017-10-27 22:44] anurse commented on #208
There's also something to be said asking if there's any value in moving the socket to a background processor in this model. You have to block the request thread anyway. Maybe people are coming from an ASP.NET 4.x model where Request Threads are somehow "special", whereas IIRC ours are just ThreadPool threads.

[2017-10-27 22:48] Tratcher commented on #208
My understanding is that they are usually handing the socket off to a central management system. E.g. Something that wants to broadcast to all connected sockets.

Does a wrapper help any? It's one less object to track.
[code]

[2017-10-27 23:00] anurse commented on #208
I don't know if I would want us to create such a thing. I'd imagine there may be other context data a user would want to capture (HttpContext, etc.).

[2017-11-01 22:28] anurse opened #209 "Add EventSource/EventCounter tracing and metrics for WebSockets"
Some events listed below. The goal is to add events that will help users solve problems so if these aren't going to do that job, feel free to suggest/discuss others!

* `Microsoft-AspNetCore-WebSockets` EventSource
    * `ConnectionStarted` event - Triggered when a connection is established.
    * `ConnectionEnded` event - Triggered when a connection is terminated gracefully.
    * `ConnectionAbor

[2017-11-10 18:03] garcus commented on #169
Any chance of finding a solution to this issue ? A workaround perhaps ?
At this moment I'm forced to script process kill to be able to deploy new websites as the IIS-stopped websites are kept open by long running websocket connections to the kestrel-process.

[2017-11-10 18:14] pan-wang commented on #169
As websocket connection holds an IIS pipeline, apppool recycling will have to wait for the close of the websocket connection till the apppool shutdown timeout is hit (default 90 seconds). One workaround is to set the timeout value to a smaller value if you have the permission to update IIS apppool settings.

ANCM itself does not listen to IIS AppPool shutdown notification yet and thus will not be

[2017-11-13 22:00] amh1979 opened #210 "Error during WebSocket handshake: Incorrect 'Sec-WebSocket-Accept' header value"
when publish the website to iis:
connect to websocket
run debug get context.Request.Headers["Sec-WebSocket-Key"]="3T18DsfpWUN8jh70Mlap9Q=="
but on browser with F12 then get "Sec-WebSocket-Key"="aHXOe9VH+K+EygZOcVDRZg=="
but view from VS that worked fine!!

why??

see the screenshot:
![screenshot](https://user-images.githubusercontent.com/5894637/32752017-a517d216-c902-11e7-89a3-348b7cdf85ba.png)

[2017-11-14 18:31] #210 closed

[2017-11-24 05:19] akash073 opened #212 "The remote party closed the WebSocket connection without completing the close handshake. : Cannot access a disposed object. Object name: 'FrameResponseStream'"
I am getting following exception in Microsoft.AspNetCore.WebSockets Version 1.0.2 .
 in
**if (socket.State == WebSocketState.Open) await socket.SendAsync(buffer: new ArraySegment<byte>(array: Encoding.ASCII.GetBytes(message), offset: 0, count: message.Length), messageType: WebSocketMessageType.Text, endOfMessage: true, cancellationToken: CancellationToken.None);**

.Message = The remote party clos

[2017-12-05 14:42] risogolo commented on #200
I came back to this issue after some time:

I have a client instance of ClientWebSocket
1st call is to open WS connection - successful
2nd call is to close the connection - sucessful
 status of the client is closed
now I try again to connect via same instance and I'm, getting "The WebSocket has already been started."

[2017-12-18 11:57] DjTrilogic commented on #207
Hello,
I'm facing the same problem, and my application totally quits when it occurs.
Is there a workaround to prevent this from happening ?
Thank's in advance

[2017-12-18 12:29] davidfowl commented on #207
Don’t overlap more than one send or more than one receive in your code.

[2017-12-18 12:45] davidfowl commented on #207
Catch exceptions if you do things off the request thread.

[2017-12-21 18:24] kasper3 commented on #207
**Calling SendAsync in parallel is not the only issue here, it just goes nuts after the disposal**

OK so i have added breakpoints in EVERY access of WebSocket in my service code.

I started to get these annoying errors in logs for about million times, so i disconnected all the sessions and put those breakpoints while service was still running (receiving no new connections).

Now the situation is

[2017-12-21 18:31] kasper3 commented on #212
same issue as #207.

[2017-12-21 19:55] anurse opened #214 "Update CoreFx Code"
We need to either update our CoreFx code in 2.1 **or** get the `CreateFromStream` API OOBed (https://github.com/dotnet/corefx/issues/21537) so we can use it.

Ping @muratg @Eilon : This should go in 2.1. Probably in preview1 if we can squeeze it in (at least updating the code from CoreFx, it's mostly automated via a script)

[2017-12-21 19:56] anurse commented on #207
Agreed :). Filed https://github.com/aspnet/WebSockets/issues/214 to make sure at the very least we update our copy of the code (it's pretty easy to update).

[2017-12-21 19:59] anurse commented on #212
This is different from the original issue in #207 as far as I understand. The exception messages are different.

This particular issue is generally caused by taking the `WebSocket` off to a background process and allowing the request to end. The `WebSocket` type **does not** hold the Request Stream open, so when you return from your middleware, the stream is closed out from under the socket.

See

[2017-12-21 20:05] kasper3 commented on #214
Thank you!

If it's just a matter of running the powershell script and making sure CI passes all the tests, I can give it a quick try! Just hoping to get it in this year 💙

[2017-12-21 20:08] anurse commented on #214
It **may** be that simple ;). Feel free to give it a shot. There may have been some new code added to corefx, and the files may have been moved around since we did it last time.

[2017-12-21 20:26] kasper3 commented on #212
@anurse

I am running my service app with `TaskScheduler.UnobservedTaskException` to catch these kinda exception. I don't see this exception until AFTER the disconnect. Say user was connected for 5 hours, there is no error. AFTER connection gets disconnected, I start getting these errors and they appear exactly the same amount of times as the number of connected-then-disconnected users/connections

[2017-12-22 00:50] kasper3 commented on #214
Apparently it needs some more digging. The netstandard System.Net.WebSockets package doesn't have methods in WebSocket class that ManagedWebSocket is overriding.

I got to the point, where compiler (with latest KoreBuild) is complaining about `public override ValueTask<ValueWebSocketReceiveResult> ReceiveAsync(Memory<byte> buffer, CancellationToken cancellationToken)`, no method to override..

[2017-12-22 02:53] anurse commented on #212
How are you disconnecting the clients? Are they sending a proper WebSocket close frame? If not, this exception will occur. If you don't want it firing the `UnobservedTaskException` event, you have to catch it in your code (or just ignore it when it triggers that event). What's the full stack trace for the exception you're getting? That would help narrow down where the exception is coming from.

Th

[2017-12-22 02:54] anurse commented on #214
Ah yeah, they changed some APIs recently. I'll take a look at it and we'll try to get it up to date for preview 1.

[2017-12-22 13:30] niemyjski commented on #207
Would be really nice if a web socket had a state where I could check if it's currently sending data.

[2017-12-22 14:16] Tratcher commented on #207
@niemyjski such a state would be too transient, it would be a constant race condition. Any cross-thread access really needs a locking mechanism. SemaphoreSlim is my preferred async lock. We have no plans to add a buffering layer.

[2017-12-22 14:43] stephentoub commented on #207
That's a good option if callers may run in parallel. If the issue is that the caller is serialized but may call while a previous operation is still in fight, you can also just store the previous Send/ReceiveAsync-returned task and await it before sending/receiving the next message. It'll be a nop if there are no attempts at concurrent usage and will force serialization if there is.

[2017-12-24 03:22] davidfowl commented on #207
To add to what @stephentoub said, that's basically what the previous version of SignalR did:

https://github.com/SignalR/SignalR/blob/35a44764686f796baf7c4256e5d52ab5f9d1162b/src/Microsoft.AspNet.SignalR.Core/Infrastructure/TaskQueue.cs

[2017-12-27 14:22] niemyjski commented on #207
@davidfowl Thanks for that. I had to write a task queue last week for back plane related work (https://github.com/FoundatioFx/Foundatio/blob/feature/taskqueue/src/Foundatio/Queues/TaskQueue.cs).

[2017-12-27 14:28] niemyjski commented on #207
@davidfowl I'm curious how you are handling this in the new version of signalr (Will have to dive into the code).

[2017-12-27 20:04] davidfowl commented on #207
@niemyjski currently we're usings Channels as our synchronization primitive (later we'll change to pipelines in some places) but it's basically the same idea. There's a single consumer pulling data from the channel and writing to the websocket (and vice versa for websocket reads). There's never any overlapping sends or receives.

[2018-01-01 07:12] aspnet-hello commented on #207
This issue was moved to aspnet/Home#2322

[2018-01-01 07:12] #207 closed

[2018-01-01 21:44] aspnet-hello commented on #214
This issue was moved to aspnet/Home#2459

[2018-01-01 21:44] #214 closed

[2018-01-01 21:45] aspnet-hello commented on #212
This issue was moved to aspnet/Home#2460

[2018-01-01 21:45] #212 closed

[2018-01-01 21:45] aspnet-hello commented on #209
This issue was moved to aspnet/Home#2461

[2018-01-01 21:45] #209 closed

[2018-01-01 21:46] aspnet-hello commented on #208
This issue was moved to aspnet/Home#2462

[2018-01-01 21:46] #208 closed

[2018-01-01 21:46] aspnet-hello commented on #205
This issue was moved to aspnet/Home#2463

[2018-01-01 21:46] #205 closed

[2018-01-01 21:48] aspnet-hello commented on #204
This issue was moved to aspnet/Home#2464

[2018-01-01 21:48] #204 closed

[2018-01-01 21:49] aspnet-hello commented on #198
This issue was moved to aspnet/Home#2465

[2018-01-01 21:49] #198 closed

[2018-01-01 21:49] aspnet-hello commented on #189
This issue was moved to aspnet/Home#2466

[2018-01-01 21:49] #189 closed

[2018-01-01 21:49] aspnet-hello commented on #188
This issue was moved to aspnet/Home#2467

[2018-01-01 21:49] #188 closed

[2018-01-01 21:49] #186 closed

[2018-01-01 21:50] aspnet-hello commented on #184
This issue was moved to aspnet/Home#2469

[2018-01-01 21:50] #184 closed

[2018-01-01 22:35] aspnet-hello commented on #169
This issue was moved to aspnet/Home#2470

[2018-01-01 22:35] #169 closed

[2018-01-01 22:36] aspnet-hello commented on #164
This issue was moved to aspnet/Home#2471

[2018-01-01 22:36] #164 closed

[2018-01-01 22:37] aspnet-hello commented on #160
This issue was moved to aspnet/Home#2472

[2018-01-01 22:37] #160 closed

[2018-01-01 22:38] aspnet-hello commented on #157
This issue was moved to aspnet/Home#2474

[2018-01-01 22:38] #157 closed

[2018-01-01 22:38] aspnet-hello commented on #150
This issue was moved to aspnet/Home#2475

[2018-01-01 22:38] #150 closed

[2018-01-01 22:39] aspnet-hello commented on #143
This issue was moved to aspnet/Home#2476

[2018-01-01 22:39] #143 closed

[2018-01-01 22:41] aspnet-hello commented on #102
This issue was moved to aspnet/Home#2477

[2018-01-01 22:41] #102 closed

[2018-01-01 22:41] aspnet-hello commented on #98
This issue was moved to aspnet/Home#2478

[2018-01-01 22:41] #98 closed

[2018-01-01 22:41] aspnet-hello commented on #86
This issue was moved to aspnet/Home#2479

[2018-01-01 22:41] #86 closed

[2018-01-01 22:41] aspnet-hello commented on #82
This issue was moved to aspnet/Home#2480

[2018-01-01 22:41] #82 closed

[2018-01-01 22:42] aspnet-hello commented on #67
This issue was moved to aspnet/Home#2481

[2018-01-01 22:42] #67 closed

[2018-01-02 22:24] Eilon opened #216 "THIS ISSUE TRACKER IS CLOSED - use the Home repo issue tracker"
Hello, this issue tracker is no longer used. Please log new issues here: https://github.com/aspnet/Home/issues

For information about this change, see https://github.com/aspnet/Announcements/issues/283

[2018-03-26 12:26] sepehr1014 commented on #19
Any updates on this? This feature would be extremely beneficial.

[2018-03-26 14:36] Tratcher commented on #19
No, this is blocked on https://github.com/dotnet/corefx/issues/15430.

[2018-03-29 05:51] deandob commented on #19
I'm still looking for this feature and with a sizable SaaS app about to go live that would benefit considerably from compression I'm about to jump onto a 3rd party websockets library. I'm surprised how little interest there has been on this as compression would benefit most websockets use-cases.
For those looking for the same thing and can't wait for the dotnet core team, this is what I'm using:
h

[2018-08-16 23:00] ryanbrandenburg opened #255 "Test failure: OriginIsValidatedForWebSocketRequests"
This test [fails](http://aspnetci/viewLog.html?buildId=533253&buildTypeId=XPlat_Mac_MacUniverseCoreCLR) occasionally with the following error:
[code]
Other tests within that build may have failed with a similar message, but they are not listed here. Check the link above for more info.

This test failed on master.

CC @Eilon (because the bot doesn't know who else to pick)

This issue was made autom

[2018-08-16 23:00] ryanbrandenburg commented on #255
Please use this workflow to address this flaky test issue, including checking applicable checkboxes and filling in the applicable "TODO" entries:

* Is this actually a flaky test?
  * No, this is a regular test failure, fix the test/product (TODO: Link to commit/PR)
  * Yes, proceed below...

* Is this test failure caused by product code flakiness? (Either this product, or another product this tes

[2018-08-21 12:00] aspnet-hello opened #256 "Test failure: ReceiveShortData_Success"
This test [fails](http://aspnetci/viewLog.html?buildId=536461&buildTypeId=Releases_21Public_OsxUniverse) occasionally with the following error:
[code]
Other tests within that build may have failed with a similar message, but they are not listed here. Check the link above for more info.

This test failed on 2.1.

CC @Eilon (because the bot doesn't know who else to pick)

This issue was made automat

[2018-08-21 12:00] aspnet-hello commented on #256
Please use this workflow to address this flaky test issue, including checking applicable checkboxes and filling in the applicable "TODO" entries:

* Is this actually a flaky test?
  * No, this is a regular test failure, fix the test/product (TODO: Link to commit/PR)
  * Yes, proceed below...

* Is this test failure caused by product code flakiness? (Either this product, or another product this tes

[2018-08-21 12:00] aspnet-hello opened #257 "Test failure: SendMediumData_Success"
This test [fails](http://aspnetci/viewLog.html?buildId=536461&buildTypeId=Releases_21Public_OsxUniverse) occasionally with the following error:
[code]
Other tests within that build may have failed with a similar message, but they are not listed here. Check the link above for more info.

This test failed on 2.1.

CC @Eilon (because the bot doesn't know who else to pick)

This issue was made automat

[2018-08-21 12:00] aspnet-hello commented on #257
Please use this workflow to address this flaky test issue, including checking applicable checkboxes and filling in the applicable "TODO" entries:

* Is this actually a flaky test?
  * No, this is a regular test failure, fix the test/product (TODO: Link to commit/PR)
  * Yes, proceed below...

* Is this test failure caused by product code flakiness? (Either this product, or another product this tes

[2018-08-21 12:00] aspnet-hello opened #258 "Test failure: CloseFromOpen_Success"
This test [fails](http://aspnetci/viewLog.html?buildId=536461&buildTypeId=Releases_21Public_OsxUniverse) occasionally with the following error:
[code]
Other tests within that build may have failed with a similar message, but they are not listed here. Check the link above for more info.

This test failed on 2.1.

CC @Eilon (because the bot doesn't know who else to pick)

This issue was made automat

[2018-08-21 12:00] aspnet-hello commented on #258
Please use this workflow to address this flaky test issue, including checking applicable checkboxes and filling in the applicable "TODO" entries:

* Is this actually a flaky test?
  * No, this is a regular test failure, fix the test/product (TODO: Link to commit/PR)
  * Yes, proceed below...

* Is this test failure caused by product code flakiness? (Either this product, or another product this tes

[2018-08-21 12:00] aspnet-hello opened #259 "Test failure: ReceiveLongData"
This test [fails](http://aspnetci/viewLog.html?buildId=536461&buildTypeId=Releases_21Public_OsxUniverse) occasionally with the following error:
[code]
Other tests within that build may have failed with a similar message, but they are not listed here. Check the link above for more info.

This test failed on 2.1.

CC @Eilon (because the bot doesn't know who else to pick)

This issue was made automat

[2018-08-21 12:01] aspnet-hello commented on #259
Please use this workflow to address this flaky test issue, including checking applicable checkboxes and filling in the applicable "TODO" entries:

* Is this actually a flaky test?
  * No, this is a regular test failure, fix the test/product (TODO: Link to commit/PR)
  * Yes, proceed below...

* Is this test failure caused by product code flakiness? (Either this product, or another product this tes

[2018-08-21 12:01] aspnet-hello opened #260 "Test failure: SendFragmentedData_Success"
This test [fails](http://aspnetci/viewLog.html?buildId=536461&buildTypeId=Releases_21Public_OsxUniverse) occasionally with the following error:
[code]
Other tests within that build may have failed with a similar message, but they are not listed here. Check the link above for more info.

This test failed on 2.1.

CC @Eilon (because the bot doesn't know who else to pick)

This issue was made automat

[2018-08-21 12:01] aspnet-hello commented on #260
Please use this workflow to address this flaky test issue, including checking applicable checkboxes and filling in the applicable "TODO" entries:

* Is this actually a flaky test?
  * No, this is a regular test failure, fix the test/product (TODO: Link to commit/PR)
  * Yes, proceed below...

* Is this test failure caused by product code flakiness? (Either this product, or another product this tes

[2018-08-21 12:01] aspnet-hello opened #261 "Test failure: SendLongData_Success"
This test [fails](http://aspnetci/viewLog.html?buildId=536461&buildTypeId=Releases_21Public_OsxUniverse) occasionally with the following error:
[code]
Other tests within that build may have failed with a similar message, but they are not listed here. Check the link above for more info.

This test failed on 2.1.

CC @Eilon (because the bot doesn't know who else to pick)

This issue was made automat

[2018-08-21 12:01] aspnet-hello commented on #261
Please use this workflow to address this flaky test issue, including checking applicable checkboxes and filling in the applicable "TODO" entries:

* Is this actually a flaky test?
  * No, this is a regular test failure, fix the test/product (TODO: Link to commit/PR)
  * Yes, proceed below...

* Is this test failure caused by product code flakiness? (Either this product, or another product this tes

[2018-08-21 12:01] aspnet-hello opened #262 "Test failure: CloseFromCloseSent_Success"
This test [fails](http://aspnetci/viewLog.html?buildId=536461&buildTypeId=Releases_21Public_OsxUniverse) occasionally with the following error:
[code]
Other tests within that build may have failed with a similar message, but they are not listed here. Check the link above for more info.

This test failed on 2.1.

CC @Eilon (because the bot doesn't know who else to pick)

This issue was made automat

[2018-08-21 12:01] aspnet-hello commented on #262
Please use this workflow to address this flaky test issue, including checking applicable checkboxes and filling in the applicable "TODO" entries:

* Is this actually a flaky test?
  * No, this is a regular test failure, fix the test/product (TODO: Link to commit/PR)
  * Yes, proceed below...

* Is this test failure caused by product code flakiness? (Either this product, or another product this tes

[2018-08-21 12:01] aspnet-hello opened #263 "Test failure: SendEmptyData_Success"
This test [fails](http://aspnetci/viewLog.html?buildId=536461&buildTypeId=Releases_21Public_OsxUniverse) occasionally with the following error:
[code]
Other tests within that build may have failed with a similar message, but they are not listed here. Check the link above for more info.

This test failed on 2.1.

CC @Eilon (because the bot doesn't know who else to pick)

This issue was made automat

[2018-08-21 12:01] aspnet-hello commented on #263
Please use this workflow to address this flaky test issue, including checking applicable checkboxes and filling in the applicable "TODO" entries:

* Is this actually a flaky test?
  * No, this is a regular test failure, fix the test/product (TODO: Link to commit/PR)
  * Yes, proceed below...

* Is this test failure caused by product code flakiness? (Either this product, or another product this tes

[2018-08-21 12:01] aspnet-hello opened #264 "Test failure: NegotiateSubProtocol_Success"
This test [fails](http://aspnetci/viewLog.html?buildId=536461&buildTypeId=Releases_21Public_OsxUniverse) occasionally with the following error:
[code]
Other tests within that build may have failed with a similar message, but they are not listed here. Check the link above for more info.

This test failed on 2.1.

CC @Eilon (because the bot doesn't know who else to pick)

This issue was made automat

[2018-08-21 12:01] aspnet-hello commented on #264
Please use this workflow to address this flaky test issue, including checking applicable checkboxes and filling in the applicable "TODO" entries:

* Is this actually a flaky test?
  * No, this is a regular test failure, fix the test/product (TODO: Link to commit/PR)
  * Yes, proceed below...

* Is this test failure caused by product code flakiness? (Either this product, or another product this tes

[2018-08-21 12:01] aspnet-hello opened #265 "Test failure: Connect_Success"
This test [fails](http://aspnetci/viewLog.html?buildId=536461&buildTypeId=Releases_21Public_OsxUniverse) occasionally with the following error:
[code]
Other tests within that build may have failed with a similar message, but they are not listed here. Check the link above for more info.

This test failed on 2.1.

CC @Eilon (because the bot doesn't know who else to pick)

This issue was made automat

[2018-08-21 12:01] aspnet-hello commented on #265
Please use this workflow to address this flaky test issue, including checking applicable checkboxes and filling in the applicable "TODO" entries:

* Is this actually a flaky test?
  * No, this is a regular test failure, fix the test/product (TODO: Link to commit/PR)
  * Yes, proceed below...

* Is this test failure caused by product code flakiness? (Either this product, or another product this tes

[2018-08-21 12:01] aspnet-hello opened #266 "Test failure: SendClose_Success"
This test [fails](http://aspnetci/viewLog.html?buildId=536461&buildTypeId=Releases_21Public_OsxUniverse) occasionally with the following error:
[code]
Other tests within that build may have failed with a similar message, but they are not listed here. Check the link above for more info.

This test failed on 2.1.

CC @Eilon (because the bot doesn't know who else to pick)

This issue was made automat

[2018-08-21 12:01] aspnet-hello commented on #266
Please use this workflow to address this flaky test issue, including checking applicable checkboxes and filling in the applicable "TODO" entries:

* Is this actually a flaky test?
  * No, this is a regular test failure, fix the test/product (TODO: Link to commit/PR)
  * Yes, proceed below...

* Is this test failure caused by product code flakiness? (Either this product, or another product this tes

[2018-08-21 12:01] aspnet-hello opened #267 "Test failure: ReceiveClose_Success"
This test [fails](http://aspnetci/viewLog.html?buildId=536461&buildTypeId=Releases_21Public_OsxUniverse) occasionally with the following error:
[code]
Other tests within that build may have failed with a similar message, but they are not listed here. Check the link above for more info.

This test failed on 2.1.

CC @Eilon (because the bot doesn't know who else to pick)

This issue was made automat

[2018-08-21 12:01] aspnet-hello commented on #267
Please use this workflow to address this flaky test issue, including checking applicable checkboxes and filling in the applicable "TODO" entries:

* Is this actually a flaky test?
  * No, this is a regular test failure, fix the test/product (TODO: Link to commit/PR)
  * Yes, proceed below...

* Is this test failure caused by product code flakiness? (Either this product, or another product this tes

[2018-08-21 12:01] aspnet-hello opened #268 "Test failure: SendShortData_Success"
This test [fails](http://aspnetci/viewLog.html?buildId=536461&buildTypeId=Releases_21Public_OsxUniverse) occasionally with the following error:
[code]
Other tests within that build may have failed with a similar message, but they are not listed here. Check the link above for more info.

This test failed on 2.1.

CC @Eilon (because the bot doesn't know who else to pick)

This issue was made automat

[2018-08-21 12:01] aspnet-hello commented on #268
Please use this workflow to address this flaky test issue, including checking applicable checkboxes and filling in the applicable "TODO" entries:

* Is this actually a flaky test?
  * No, this is a regular test failure, fix the test/product (TODO: Link to commit/PR)
  * Yes, proceed below...

* Is this test failure caused by product code flakiness? (Either this product, or another product this tes

[2018-08-21 12:01] aspnet-hello opened #269 "Test failure: ReceiveMediumData_Success"
This test [fails](http://aspnetci/viewLog.html?buildId=536461&buildTypeId=Releases_21Public_OsxUniverse) occasionally with the following error:
[code]
Other tests within that build may have failed with a similar message, but they are not listed here. Check the link above for more info.

This test failed on 2.1.

CC @Eilon (because the bot doesn't know who else to pick)

This issue was made automat

[2018-08-21 12:01] aspnet-hello commented on #269
Please use this workflow to address this flaky test issue, including checking applicable checkboxes and filling in the applicable "TODO" entries:

* Is this actually a flaky test?
  * No, this is a regular test failure, fix the test/product (TODO: Link to commit/PR)
  * Yes, proceed below...

* Is this test failure caused by product code flakiness? (Either this product, or another product this tes

[2018-08-21 12:01] aspnet-hello opened #270 "Test failure: ReceiveFragmentedData_Success"
This test [fails](http://aspnetci/viewLog.html?buildId=536461&buildTypeId=Releases_21Public_OsxUniverse) occasionally with the following error:
[code]
Other tests within that build may have failed with a similar message, but they are not listed here. Check the link above for more info.

This test failed on 2.1.

CC @Eilon (because the bot doesn't know who else to pick)

This issue was made automat

[2018-08-21 12:01] aspnet-hello commented on #270
Please use this workflow to address this flaky test issue, including checking applicable checkboxes and filling in the applicable "TODO" entries:

* Is this actually a flaky test?
  * No, this is a regular test failure, fix the test/product (TODO: Link to commit/PR)
  * Yes, proceed below...

* Is this test failure caused by product code flakiness? (Either this product, or another product this tes

[2018-08-21 16:10] ryanbrandenburg commented on #269
This belongs on the home repo.

[2018-08-21 16:10] #269 closed

[2018-08-21 17:18] ryanbrandenburg commented on #257
This belongs on the Home repo.

[2018-08-21 17:18] #257 closed

[2018-08-21 17:18] ryanbrandenburg commented on #256
This belongs on the Home repo.

[2018-08-21 17:18] #256 closed

[2018-08-21 17:19] ryanbrandenburg commented on #255
This belongs on the Home repo.

[2018-08-21 17:19] #255 closed

[2018-08-24 14:44] talarari commented on #19
Any update on this?

[2018-09-19 22:57] jjxtra commented on #19
Also eager for this, rolled our own base64 compression on top manually, but this is a big hack.

[2018-10-17 22:15] #216 closed